<!-- DO NOT REMOVE THE FOLLOWING COMMENT -->
<!-- (c) Copyright 2014 Caroline Hill. All Rights Reserved. Contact Mlle Caroline Schnapp at mllegeorgesand@gmail.com -->
<!-- DO NOT REMOVE THE ABOVE COMMENT -->

{% if linklists.free-item.links.size > 0 and linklists.free-item.links.first.type == 'product_link' %}


{% assign id = linklists.item.links.first.object.variants.first.id %}



{% assign found = false %}
{% assign gift_wraps_in_cart = 0 %}

{% for item in cart.items %}

	  {%- for tag in item.product.tags -%}

		{%- if tag contains 'add_free_gift' -%}
			 {% assign found = true %}
		{%- endif -%}

		{%- endfor-%}
	  
  {% if item.id == id %}
    {% assign gift_wraps_in_cart = item.quantity %}
	
  {% endif %}
 
{% endfor %}

<style>
  #updates_{{ id }} { display: none; }
</style>

<script>

Shopify.Cart = Shopify.Cart || {};

Shopify.Cart.GiftWrap = {};

Shopify.Cart.GiftWrap.set = function() {
  jQuery.ajax({
    type: 'POST',
    url: '/cart/update.js', 
    data: { updates: { {{ id }}: 1 } }, 
    dataType: 'json',
    success: function() { location.href = '/cart'; }
  });
}

Shopify.Cart.GiftWrap.remove = function() {
  jQuery.ajax({
    type: 'POST',
    url: '/cart/update.js', 
    data: { updates: { {{ id }}: 0 } }, 
    dataType: 'json',
    success: function() { location.href = '/cart'; }
  });
}

console.log('gift - ' +{{gift_wraps_in_cart}});
console.log('found - ' +{{found}});
// If we have nothing but gift-wrap items in the cart.
{% if gift_wraps_in_cart > 0 and found == false %}

jQuery(function() {
  Shopify.Cart.GiftWrap.remove();
});

// If we have more than one gift-wrap item in the cart.
{% elsif gift_wraps_in_cart > 1 %}

jQuery(function() {
  Shopify.Cart.GiftWrap.set();
});

{% elsif gift_wraps_in_cart == 0 and found == true %}
jQuery(function() {
  Shopify.Cart.GiftWrap.set();
});

{% endif %}
 
</script>

 {% endif %}