{%- capture icon_class -%}icon icon--{{ icon }}{%- endcapture -%}

{%- case icon -%}
  {%- comment -%} SOCIAL MEDIA {%- endcomment -%}


  {%- comment -%} TEXT WITH ICONS SECTION {%- endcomment -%}


  
  {%- when 'bi-customer-support' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M10 17H4c-1.7 0-3 1.3-3 3v3h12v-3c0-1.7-1.3-3-3-3zM7 14c-1.7 0-3-1.3-3-3v-1c0-1.7 1.3-3 3-3s3 1.3 3 3v1c0 1.7-1.3 3-3 3z" stroke="#febd03"></path>
        <path stroke="#febd03" d="M13 1v10l4-3h6V1z"></path>
      </g>
    </svg>

  {%- when 'bi-delivery' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M6.5 3.25l12 6" stroke="#febd03"></path>
        <path stroke="#febd03" d="M23 7l-10 5L1 6M13 12v11"></path>
        <path stroke="#febd03" stroke-linecap="square" d="M23 7v10l-10 6-12-6V6l10-5z"></path>
      </g>
    </svg>


  {%- when 'bi-returns' -%}
    <svg viewBox="0 0 23 24" role="presentation">
      <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path stroke="#febd03" d="M8 4h8v7"></path>
        <path stroke="#febd03" stroke-linecap="square" d="M11 7L8 4l3-3"></path>
        <circle stroke="#febd03" stroke-linecap="square" cx="6" cy="20" r="2"></circle>
        <circle stroke="#febd03" stroke-linecap="square" cx="18" cy="20" r="2"></circle>
        <path stroke="#febd03" stroke-linecap="square" d="M21 5l-2 10H5L3 0H0"></path>
      </g>
    </svg>

  {%- when 'bi-secure-payment' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M1 5h22M1 9h22M9 17H3c-1.105 0-2-.895-2-2V3c0-1.105.895-2 2-2h18c1.105 0 2 .895 2 2v10M5 13h5" stroke="#febd03"></path>
        <path stroke="#febd03" d="M13 16h8v7h-8zM15 16v-2c0-1.1.9-2 2-2s2 .9 2 2v2M17 19v1"></path>
      </g>
    </svg>

{%- endcase -%}