<!-- Reamaze SSO file - DO NOT REMOVE -->

{% if shop.customer_accounts_enabled and customer.id %}
{% assign sso_key = '9e1ec2344f1ee636386e9f66fc84665b97fcca63dcb2e5c1d62a1518e6714dac' %}

<script type="text/javascript">
var _support = _support || { 'ui': {}, 'user': {} };
_support['user'] = {
  shop: '{{ shop.permanent_domain }}',
  id: '{{ customer.id }}',
  authtype: 'hmac-sha256',
  authkey: '{{ customer.id | append:':' | append:customer.email | hmac_sha256: sso_key }}',
  email: '{{ customer.email }}',
  name: '{{ customer.name }}',
  data: {
    '({{ shop.permanent_domain }}) Order count': '{{ customer.orders_count }}',
    '({{ shop.permanent_domain }}) Total spent': '{{ customer.total_spent | money }}',
    '({{ shop.permanent_domain }}) Recent order': '{% if customer.last_order.name %}{{ customer.last_order.name }} - {{ customer.last_order.created_at | date: '%B %d, %Y %I:%M%p' }}{% endif %}'
  }
};
</script>

{% endif %}