<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
  {% render 'elevar-head' %}
      {% render 'elevar-head-listener' %}
    <meta name="google-site-verification" content="mYgOCJ_M-g3woRuHtzLX42nWFY4XeJR-VRP1IHqFFRI" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}
   {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ shop.name }}</title>
    
    <!-- begin Convert Experiences code--> <script type="text/javascript" src="https://cdn-3.convertexperiments.com/js/10005575-10006070.js"></script> <!-- end Convert Experiences code -->
    
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
	 {{ 'style.scss.css' | asset_url | stylesheet_tag }}
    
	  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}" />
    
 {{ 'safemend.css' | asset_url | stylesheet_tag }}
  
  <script src="{{ 'jquery.3.3.1.min.js' | asset_url }}" ></script>
  <script src="{{ 'secure-data.js' | asset_url }}"></script> 
  <script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
  
    <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{
          'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }}
    }


   //var checkoutUrl = checkout.webUrl.replace("mynewtrend.myshopify.com", "safemend.com");
   document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>  
  
  <style type="text/css">
  .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
	  
    }
	
	
    .swiper-slide {
      background-size: cover;
      background-position: center;
	   outline: none;
    }

    .gallery-top {
      height: 80%;
      width: 100%;
    }

    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
	    outline: none;
    }

    .gallery-thumbs .swiper-slide {
      height: 100%;
      opacity: 0.4;
	  border: 2px solid transparent;
	  border-radius: 3px;
	  cursor: pointer;
	  padding: 2px;
	  outline: none;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
	  border-color: #00953d;
    }
</style>
 
   {% if template == 'index' %}
     <script>window.location.pathname="/pages/safemend";</script>
  	
    {% else %}
  
  		
  
    {% endif %}
	
	 {% if template == 'cart' %}
     <script>window.location.pathname="/pages/safemend";</script>
  	
    {% else %}
  
  		
  
    {% endif %}
  

<!-- All link are here -->

  <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>
 <script src="//cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.matches,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,String.prototype.includes,String.prototype.padStart,Object.assign,CustomEvent,Intl,URL,DOMTokenList,IntersectionObserver,IntersectionObserverEntry" defer="defer"></script>
     

<style type="text/css">
.shopify-challenge__container{
	padding-top: 150px !important;
	padding-bottom: 100px !important;
}
</style>
  {% if template contains "test" %}
{{ content_for_header }}

{% else %}

    {%- if template contains 'product' -%}<script>var tfIsMagic = 0;var tfIsVideo = 0;var tfIsStamped = 0;</script>{%- endif -%}
     {%- assign urls = content_for_header | split: 'var urls = [' | last | split: ']' | first -%}  {%- assign cfh_temp1 = content_for_header | split: 'shopify_pay/storefront' | first | split: '<script' | last -%}  {%- assign cfh_temp2 = content_for_header | split: 'shopify_pay/storefront' | last | split: 'themes_support/ga_urchin_forms-' | first -%}  {%- assign cfh_temp3 = content_for_header | split: 'shopify_pay/storefront' | last | split: 'themes_support/ga_urchin_forms-' | last | split: '</script>' | first -%}   {%- assign cfh_bottom = '<script' | append: cfh_temp1 | append: 'shopify_pay/storefront' | append: cfh_temp2 | append: 'themes_support/ga_urchin_forms-' | append: cfh_temp3 | append: '</script>' -%}
    {%- assign load_js = 'src="//cdn.shopify.com/s/assets/storefront/load_feature-' -%}
    {%- assign tfload_js = 'data-src="//cdn.shopify.com/s/assets/storefront/load_feature-' -%}
    {%- assign storefront      = 'src="//cdn.shopify.com/s/assets/shopify_pay/storefront-' -%}      {%- assign tfstorefront      = 'data-src="//cdn.shopify.com/s/assets/shopify_pay/storefront-' -%}  {%- assign express_buttons = 'src="//cdn.shopify.com/s/assets/storefront/express_buttons-' -%}{%- assign tfexpress_buttons = 'data-src="//cdn.shopify.com/s/assets/storefront/express_buttons-' -%}  {%- assign features  = 'src="//cdn.shopify.com/s/assets/storefront/features-' -%}{%- assign tffeatures   = 'data-src="//cdn.shopify.com/s/assets/storefront/features-' -%}  {%- assign ga_urchin_forms = 'src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-' -%}{%- assign tfga_urchin_forms = 'data-src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-' -%}
    {%- assign trekkie =  content_for_header | split: 'trekkie.load(' | last | split: ');' | first -%}  {%- assign trekkie =  'trekkie.load(' | append: trekkie | append: ');' -%}       

    {{ content_for_header | replace: '<!-- section assets -->','' | replace: urls,'' | replace: storefront,tfstorefront | replace: express_buttons,tfexpress_buttons | replace: features,tffeatures | replace: ga_urchin_forms,tfga_urchin_forms | replace: load_js,tfload_js  }}
	{% endif %}
    



  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->


  
<script type="application/javascript" src="https://app.checkout-x.com/scripts/sf/shopify.js" data-checkout-x-id="Z3JH3R6P" data-api-url="https://app.checkout-x.com/api/v2"></script></head>

<!-- body part -->

<body onunload="" class="template-{{ template.name }} template-{{ template.name }}-{{ template.suffix }}">
  {% render 'elevar-body-end' %}

    <div class="page-container" id="PageContainer">
    {%- section 'fixed_header_dishwasher' -%}

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

 <!-- Footer sectoion -->
 
     {%- section 'text-with-icons' -%}
     {%- section 'fixed_footer_dishwasher' -%}
	 
	 {% render 'product-paylater-modal' %} 

  </div>
 <!-- Warning: Do not remove. This is used for CartHook Checkout Replacement -->
{% capture the_snippet_content %}{% include 'carthook-checkout' %}{% endcapture %} {% unless the_snippet_content contains "Liquid error" %} {% include 'carthook-checkout' %} {% endunless %}
<!-- Warning: Do not remove. This is used for CartHook Checkout Replacement -->

 <script type="application/javascript" async 
 src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=V68PyR"></script>
<script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'custom-dishwasher.js' | asset_url }}" defer="defer"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js" defer="defer"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js" defer="defer"></script>
<!--<script defer="defer" type="text/javascript" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>-->
  

<!-- Stamped - Begin script -->
<script async type="text/javascript" id="stamped-script-widget" data-api-key="pubkey-BFUQ44e0oMy91OsF8ZXcx95v6437XN" src="https://cdn1.stamped.io/files/widget.min.js"></script>
<!-- Stamped - End script -->
  
  
  
  <script src="//cdn.codeblackbelt.com/js/modules/currency-converter-plus/main.min.js?shop=mynewtrend.myshopify.com" defer></script>
<div class='better-cart-element-better-cart-theme'>{% include 'better-cart-theme' %}</div></body>



<script type="text/javascript">
	var galleryThumbs = new Swiper('.gallery-thumbs', {
      slidesPerView: 5,
      
      freeMode: true,
      loopedSlides: 5, //looped slides should be the same
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
	  watchOverflow: true
    });
	
    var galleryTop = new Swiper('.gallery-top', {

	  freeMode: true,
     
      loopedSlides: 5, //looped slides should be the same

      thumbs: {
        swiper: galleryThumbs,
      },

    });

 var userIp = null;

window.onunload = function(){};

$(window).bind("pageshow", function(event) {
    if (event.originalEvent.persisted) {
        window.location.reload() 
    }
});

</script>
  
</html>







