<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">

  <title>{{ shop.name }}</title>
    
    <!-- begin Convert Experiences code--> <script type="text/javascript" src="https://cdn-3.convertexperiments.com/js/10005575-10006070.js"></script> <!-- end Convert Experiences code -->
    
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
	 {{ 'style.scss.css' | asset_url | stylesheet_tag }}
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>
    <script src="{{ 'secure-data.js' | asset_url }}"></script> 
    <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{
          'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }}
    }


//var checkoutUrl = checkout.webUrl.replace("mynewtrend.myshopify.com", "safemend.com");
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>


  
   {% if template == 'index' %}
     <script>window.location.pathname="/pages/safemend";</script>
  	
    {% else %}
  
  		
  
    {% endif %}
	
	 {% if template == 'cart' %}
     <script>window.location.pathname="/pages/safemend";</script>
  	
    {% else %}
  
  		
  
    {% endif %}
  

<style type="text/css">
.shopify-challenge__container{
	padding-top: 150px !important;
	padding-bottom: 100px !important;
}
</style>
     {% if template contains "cart" %}
{{ content_for_header }}

{% else %}

    {%- if template contains 'product' -%}<script>var tfIsMagic = 0;var tfIsVideo = 0;var tfIsStamped = 0;</script>{%- endif -%}
     {%- assign urls = content_for_header | split: 'var urls = [' | last | split: ']' | first -%}  {%- assign cfh_temp1 = content_for_header | split: 'shopify_pay/storefront' | first | split: '<script' | last -%}  {%- assign cfh_temp2 = content_for_header | split: 'shopify_pay/storefront' | last | split: 'themes_support/ga_urchin_forms-' | first -%}  {%- assign cfh_temp3 = content_for_header | split: 'shopify_pay/storefront' | last | split: 'themes_support/ga_urchin_forms-' | last | split: '</script>' | first -%}   {%- assign cfh_bottom = '<script' | append: cfh_temp1 | append: 'shopify_pay/storefront' | append: cfh_temp2 | append: 'themes_support/ga_urchin_forms-' | append: cfh_temp3 | append: '</script>' -%}
    {%- assign load_js = 'src="//cdn.shopify.com/s/assets/storefront/load_feature-' -%}
    {%- assign tfload_js = 'data-src="//cdn.shopify.com/s/assets/storefront/load_feature-' -%}
    {%- assign storefront      = 'src="//cdn.shopify.com/s/assets/shopify_pay/storefront-' -%}      {%- assign tfstorefront      = 'data-src="//cdn.shopify.com/s/assets/shopify_pay/storefront-' -%}  {%- assign express_buttons = 'src="//cdn.shopify.com/s/assets/storefront/express_buttons-' -%}{%- assign tfexpress_buttons = 'data-src="//cdn.shopify.com/s/assets/storefront/express_buttons-' -%}  {%- assign features  = 'src="//cdn.shopify.com/s/assets/storefront/features-' -%}{%- assign tffeatures   = 'data-src="//cdn.shopify.com/s/assets/storefront/features-' -%}  {%- assign ga_urchin_forms = 'src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-' -%}{%- assign tfga_urchin_forms = 'data-src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-' -%}
    {%- assign trekkie =  content_for_header | split: 'trekkie.load(' | last | split: ');' | first -%}  {%- assign trekkie =  'trekkie.load(' | append: trekkie | append: ');' -%}       

    {{ content_for_header | replace: '<!-- section assets -->','' | replace: urls,'' | replace: storefront,tfstorefront | replace: express_buttons,tfexpress_buttons | replace: features,tffeatures | replace: ga_urchin_forms,tfga_urchin_forms | replace: load_js,tfload_js  | replace: trekkie,'' }}
	{% endif %}


  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->

</head>

<!-- body part -->

<body onunload="" class="template-{{ template.name }} template-{{ template.name }}-{{ template.suffix }}">


    <div class="page-container" id="PageContainer">
    {%- section 'fixed_header_dishwasher' -%}

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1" style="padding-top: 100px;">
      {{ content_for_layout }}
    </main>

 <!-- Footer sectoion -->
 
     {%- section 'text-with-icons' -%}
     {%- section 'fixed_footer_dishwasher' -%}


  </div>

</body>

<script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'custom-dishwasher.js' | asset_url }}" defer="defer"></script>

<script type="text/javascript">


window.onunload = function(){};

$(window).bind("pageshow", function(event) {
    if (event.originalEvent.persisted) {
        window.location.reload() 
    }
});

  
</script>
</html>







