{% comment %}
<h1>{{article.title}}</h1>
<div class="rte">
  {{ article.content }}
</div>
{% endcomment %}


<div class="blog-sec">
  <div class="side-bar">
    
    <div class="side-bar-1 ">
      <h1>{{article.title}}</h1>
      {{ article.content }}
    </div>
    <div class="side-bar-2 ">
      {% paginate blog.articles by 7 %}
      <div class="side-bar-in">
        <div style="padding: 7px 15px;">
          <h4>Blog posts</h4>
        </div>
        {% for article in blog.articles %}
        <div style="display: flex;padding: 10px;">
          <div class="side-bar-article-img">
              <img src="{{ article.image | img_url: '300x300' }}" />
          </div>
          <div style="padding-left: 10px;">
            <p><a href="{{ article.url }}">{{ article.title }}</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
