 <style>

		#shopify-section-{{section.id}} p {
			color: {{ section.settings.text_bg }};
			font-size: 22px;
		}
		
		#shopify-section-{{section.id}} h2 {
		line-height: 3rem;
			font-size: 20px;
			
		}
		
		.review-block{
			padding: 0;
			border: 10px solid #00953d;
			border-bottom: none; 
			border-right: none;
			margin-bottom: 20px;
		}
		
		.review-block h3,
		.review-block p{
			font-size: 19px !important;
		}
			
		@media screen and (min-width: 768px){
			#shopify-section-{{section.id}} h2 {
			line-height: 4rem;
				font-size: 30px;
			}
		}
    </style>
<div id="shopify-section-[id]">

	<div class="container">
<div class="col-sm-9 col-md-9">

<h2><strong>Does SafeMend™ Mending Agent Work?</strong></h2>
<p><span class="btn-buy-product custom-btn-3">SafeMend™</span> has proven useful and effective for patching up any kind of wall flaws. We stand by these claims or your money back! Here’re a few impressive feedbacks from our happy customers:
</p>
<br>

	<div class="col-md-12 review-block" >
		<div class="col-md-12 " style="background: rgb(249,249,249); padding: 30px;">
			<div class="col-xs-12" style="padding:0; margin-bottom: 10px"><img  data-src="{{ 'qouteicon.png' | asset_url }}" width="23px" class="lazyload"  alt=""></div>
			<h3><strong>Excellent Instant Wall Patch Solution</strong></h3>
			<p>“As a single woman who owns no tools, this was a quick and easy fix for me.  I repaired the wall very effectively with minimum effort in less than 5 minutes, and best of all no handyman expertise required!!!”</p>
			<p style="margin:0"><strong><i>Debra W.</i></strong></p>
			<div class="col-xs-12" style="padding:0;"><img  data-src="{{ 'blue-star.png' | asset_url }}" width="90px" class="lazyload"  alt=""></div>
		</div>
	</div>
	
	<div class="col-md-12 review-block" >
		<div class="col-md-12 " style="background: rgb(249,249,249); padding: 30px;">
			<div class="col-xs-12" style="padding:0; margin-bottom: 10px"><img  data-src="{{ 'qouteicon.png' | asset_url }}" width="23px" class="lazyload"  alt=""></div>
			<h3><strong>Simple and Efficient</strong></h3>
			<p>“This is PERFECT. It is super handy. I probably filled about 12-15 holes and 2-3 cracks in our walls with this stuff, and then painted it over. You can't even tell that there used to be holes.”</p>
			<p style="margin:0"><strong><i>C. Templo</i></strong></p>
			<div class="col-xs-12" style="padding:0;"><img  data-src="{{ 'blue-star.png' | asset_url }}" width="90px" class="lazyload"  alt=""></div>
		</div>
	</div>
	
	<div class="col-md-12 review-block" >
		<div class="col-md-12 " style="background: rgb(249,249,249); padding: 30px;">
			<div class="col-xs-12" style="padding:0; margin-bottom: 10px"><img  data-src="{{ 'qouteicon.png' | asset_url }}" width="23px" class="lazyload"  alt=""></div>
			<h3><strong>Works well</strong></h3>
			<p>“I needed to invest in a patching kit, and this one is better than the little overpriced bucket one I used for the last hole, and I like the sander it comes with. It works great and gets the job done.”</p>
			<p style="margin:0"><strong><i>Lance</i></strong></p>
			<div class="col-xs-12" style="padding:0;"><img  data-src="{{ 'blue-star.png' | asset_url }}" width="90px" class="lazyload" alt=""></div>
		</div>
	</div>

</div>
</div><!-- / container -->
</div>

{% schema %}
{
  "name": "Inline info 6",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
