 <style>

		#shopify-section-{{section.id}} p {
			color: {{ section.settings.text_bg }};
			font-size: 22px;
		}
		
		#shopify-section-{{section.id}} h2 {
		line-height: 3rem;
			font-size: 20px;
			
		}
		
		.custom-list{
			padding: 0 35px;
			padding-right: 0;
		}
		
		.custom-list li{
			list-style: initial;
		}

		
		@media screen and (min-width: 768px){
			#shopify-section-{{section.id}} h2 {
			line-height: 4rem;
				font-size: 30px;
			}
		}
    </style>
<div id="shopify-section-[id]">

	<div class="container">
<div class="col-sm-9 col-md-9">
<div class="col-sm-12 col-md-12 button btn-buy-product custom-btn-4" style="margin-bottom: 20px;">
GET 50% OFF NOW
<i class="fa fa-caret-right" aria-hidden="true"></i>
</div>

<h2><strong><i>Most traditional mending agents contain a slew of toxins that are extremely harmful to people, pets, and the environment. <br>
This is why SafeMend is the only mending agent on the market that is 100% SAFE:</i></strong></h2>

<div class="custom-list">
<ul >
  <li><p>NO Methylisothiazolinone (MI) and methylchloroisothiazolinone (MCI)</p></li>
   <li><p>NO Xylene</p></li>
 <li><p>NO Ethyl Acetate</p></li>
 <li><p>NO Methylene Chloride</p></li>
 <li><p>NO Glycol</p></li>
 <li><p>NO Formaldehyde</p></li>
 <li><p>NO Benzene</p></li>
 <li><p>NO Phenol</p></li>
 <li><p>NO Quaternary Ammonium</p></li>
 <li><p>NO Carbamates</p></li>
</ul> 
</div>
<div style="margin-top:20px;">
	{% if section.settings.image_block %}
			<img data-src="{{ section.settings.image_block | img_url: '800x800' }}"  alt="" class="col-sm-6 col-md-6 lazyload" style="margin-bottom: 20px;">
				{% endif %}
				{% if section.settings.image_block_2 %}
			<img data-src="{{ section.settings.image_block_2 | img_url: '800x800' }}"  alt="" class="col-sm-6 col-md-6 lazyload" style="margin-bottom: 20px;">
				{% endif %}
			</div>
	<p>What you need is a carefully formulated mending agent that spreads perfectly to give a smooth finishing</p>
	<br>

<div class="col-sm-12 col-md-12 button btn-buy-product custom-btn-4" style="margin-bottom: 10px;">
GET 50% OFF NOW
<i class="fa fa-caret-right" aria-hidden="true"></i>
</div>
	</div>
	</div><!-- / container -->

</div>

{% schema %}
{
  "name": "Inline info 2",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
