{%- assign product = all_products[settings.featured_product_global] -%}
<header id="header">
    <style>
	#shopify-section-{{section.id}} .top-bar {
          background-color: {{ section.settings.header_bg }};
		  box-shadow: 0 0 11px -4px rgba(0,0,0,0.25) !important;
        }

		body {
		  overscroll-behavior-y: none;
		}
		#shopify-section-{{section.id}} *{
			    font-size: 14px;
		}

    .top-bar.has-announcement-bar {
        top: {{ section.settings.announcement_bar_height }}px;
        position: absolute;
    }
		
@media only screen and (max-width: 767px){
		#shopify-section-{{section.id}} *{
			    font-size: 12px;
		}

    .top-bar.has-announcement-bar {
      top: {{ section.settings.announcement_bar_height_mobile }}px;
      position: absolute;
    }
		}

    .promo_banner {
          background-color: {{ section.settings.announcement_color_bg }};
          padding: {{ section.settings.announcement_bar_spacing }}px;
          padding-left: 20px;
          padding-right: 20px;
          margin-bottom: 20px;
        }

        .promo_banner__content p {
          color: {{ section.settings.announcement_color_text }};
        }
    </style>
    {% if section.settings.announcement_message == true %}
    {% assign fixed_variants_selector_padding = section.settings.announcement_bar_height | plus: 164 %}
    {% assign fixed_variants_selector_padding_mobile = section.settings.announcement_bar_height | plus: 74 %}
    <style>
           #shopify-section-fixed_variants_selector {
        padding-top: {{ fixed_variants_selector_padding }}px !important;
      }

      .announcement-message-text p {
        text-align: {{section.settings.announcement_text_align}};
        margin: 0;
      }

      @media only screen and (max-width: 767px){
          #shopify-section-fixed_variants_selector {
            padding-top: {{ fixed_variants_selector_padding_mobile }}px !important;
          }
        } 
    </style>
    {% elsif section.settings.sticky_header != true %}
    <style>
      @media only screen and (min-width: 768px){
        #shopify-section-fixed_variants_selector {
          padding-top: 90px !important;
        }
      }
      @media only screen and (max-width: 767px){
        #shopify-section-fixed_variants_selector {
          padding-top: 9px !important;
        }
      }
    </style>
    {% endif %}

      {% if section.settings.announcement_message %}
      <div class="promo_banner promo_banner_main">
          <div class="promo_banner__content">
            <div class="announcement-message-text" style="text-align: {{section.settings.announcement_text_align}}">{{ section.settings.announcement_message_text }}</div>
          </div>
        </div>
      {% endif %}
        <div class="top-bar{% if section.settings.announcement_message %} has-announcement-bar {% elsif section.settings.sticky_header %} sticky{% endif %}">
      {% if section.settings.sticky_header and section.settings.announcement_message %}
      <script>
        window.onscroll = function() {myFunction()};
        
        var header = document.querySelector(".top-bar");
        var sticky = header.offsetTop;
        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
        </script>
      {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-5 " style="padding-right:0; padding-left: 0;">
                    <a href="/pages/safemend" title="logo">
					 {% if section.settings.logo %}
						<img class="logo lazyload" data-src="{{ section.settings.logo | img_url: 'master' }}" alt="logo">
					{% endif %}

					</a>
                </div>
                <!-- / column -->
				<div class="col-md-7 col-sm-8 col-xs-7 py-2 float-right text-right contact-block" style="padding-right:0; padding-left: 0;     white-space: nowrap;">
				 <span class="heading mr-4 ">Need help?</span>
					<span style="cursor: pointer;" onclick="liveChatClick()" class="mobile-menu__help-wrapper d-inline  mr-4">
					 <img data-src="{{ 'livechatico.png' | asset_url | replace: '.png', '_small.png' }}" style="margin-right: 13px;" class="icon--bi-phone lazyload img-fluid">
					  <span class="small-devices-hidden">Live Chat</span>
					  </span>

				  <!-- {%- if section.settings.navigation_phone_number != blank -%} -->
					 <!-- <span class="mobile-menu__help-wrapper d-inline mr-4"> -->
					  <!-- {%- render 'icon', icon: 'bi-phone' -%} -->
					  <!-- <span>{{ section.settings.navigation_phone_number | escape }}</span> -->
					  <!-- </span> -->
					
				  <!-- {%- endif -%} -->

				  {%- if section.settings.navigation_email != blank -%}
				   <a href="mailto:{{ section.settings.navigation_email }}">
					   <span style="cursor: pointer;" class="mobile-menu__help-wrapper d-inline ">
						 <img data-src="{{ 'mail-ico.png' | asset_url | replace: '.png', '_small.png' }}" style="margin-right: 13px;" class="icon--bi-phone lazyload img-fluid">
							<span class="small-devices-hidden">{{ section.settings.navigation_email | escape }}</span>
						  </span>
					  </a>
					  
				  {%- endif -%}
				  <img data-src="http://api.hostip.info/flag.php" style="margin-left: 5px;" width="30px" class="flagicon img-fluid">
				 </div>
            </div>
            <!-- / row -->
        </div>
        <!-- / container -->
    </div>
</header>
<script>

$(window).on('load',function(e){
			$.get('https://api.hostip.info',  // url
			  function (data, textStatus, jqXHR) { 
			  			  console.log($(data).find('countryName').text());
			  console.log($(data).find('countryAbbrev').text());
				 if($(data).find('countryName').text() == "(Unknown Country?)" || $(data).find('countryAbbrev').text() == "XX" 
				 || $(data).find('countryAbbrev').text() == "US")
					$('.flagicon').attr('src', 'https://api.hostip.info/images/flags/us.gif');
					
			});
		 });
		 

		 
	function liveChatClick(){
		if($('#reamaze-popup').hasClass('visible'))
			return;
		$('#reamaze-widget').click();
	}
</script>
{% schema %}
{
  "name": "Header",
  "settings": [
  {
    "type": "header",
    "content": "Announcement bar"
  },
  {
    "type": "checkbox",
    "id": "sticky_header",
    "label": "Sticky header",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "announcement_message",
    "label": "Show announcement",
    "default": false
  },
  {
    "type": "textarea",
    "id": "announcement_message_text",
    "label":"Announcement Text",
    "default": "<p>PRE-BLACKFRIDAY SALE: 50% OFF TODAY ONLY!</p>"
  },
  {
    "type": "range",
    "id": "announcement_bar_spacing",
    "label": "Announcement bar spacing",
    "unit": "px",
    "min": 5,
    "max": 30,
    "step": 1,
    "default": 10
  },
  {
    "type": "color",
    "id": "announcement_color_bg",
    "label": "Announcement Bar background color",
    "default": "#fe993f"
  },
  {
    "type": "color",
    "id": "announcement_color_text",
    "label": "Announcement Text Color",
    "default": "#fff"
  },
  {
    "type": "select",
    "id": "announcement_text_align",
    "label": "Text alignment",
    "options": [
      {
        "value": "center",
        "label": "Center"
      },
      {
        "value": "left",
        "label": "Left"
      },
      {
        "value": "right",
        "label": "Right"
      }
    ]
  },
  {
    "type": "range",
    "id": "announcement_bar_height",
    "label": "Announcement bar height",
    "unit": "px",
    "min": 30,
    "max": 100,
    "step": 1,
    "default": 30
  },
  {
    "type": "range",
    "id": "announcement_bar_height_mobile",
    "label": "Announcement bar mobile height",
    "unit": "px",
    "min": 30,
    "max": 100,
    "step": 1,
    "default": 30
  },
  {
    "type": "header",
    "content": "Main settings"
  },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
	  {
      "type": "text",
      "id": "navigation_email",
      "label": "Email",
      "default": "info@yourwebsite.com"
    },
    {
      "type": "color",
      "id": "header_bg",
      "label": "Bar",
      "default": "#fe993f"
    }
  ]
}
{% endschema %}
