{%- assign product = all_products[settings.featured_product_global] -%}
{%- assign selected_variant = product.selected_or_first_available_variant -%}

{% if section.settings.is_enabled %}
 <style>
		#shopify-section-{{section.id}} #recentBox{
			background: {{ section.settings.block_bg }};
		}
		
		#shopify-section-{{section.id}} #recentText{
		   color:{{ section.settings.text_bg }};
		}

    </style>
<div id="recentBox" style="opacity: 0; bottom: -62px;">
  <div id="recentImg">
  {% if section.settings.side_image %}
		  <img class="lazyload" data-src="{{ section.settings.side_image | img_url: '300x300' }}" width="100%">
			
			{% endif %}
  </div>
  <div id="recentText">
    <strong><span id="randFirst">Peter</span> <span id="randLast">R</span>. in <span id="randLocation">Phoenix, AZ</span>
    <br>
    bought: </strong><span>{{section.settings.text_header}}</span>
   <div style="margin-top:3px"> <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 125%; margin-right: 1px;"></i> <strong><span id="randTime">32</span>m ago</strong></div>
  </div>
  <div class="clear"></div>
</div>

{% endif %}

{% schema %}
{
  "name": "Last Purchase Box",
  "settings": [
  {
      "type": "checkbox",
      "id": "is_enabled",
      "label": "Show last purchase box",
      "default": true
    },
  {
      "type": "text",
          "id": "text_header",
          "label": "Header Text",
          "default": "Header Text"
    },
	{
      "type": "image_picker",
      "id": "side_image",
      "label":"Side image"
    },
	{
      "type": "color",
      "id": "text_bg",
        "label": "Main Text color",
      "default": "#333"
    },
    {
      "type": "color",
      "id": "block_bg",
      "label": "Box color",
      "default": "#fff"
    }
  ]
}
{% endschema %}
