 <style>

		#shopify-section-{{section.id}} p {
			color: {{ section.settings.text_bg }};
			font-size: 22px;
		}
		
		#shopify-section-{{section.id}} h2 {
		line-height: 3rem;
			font-size: 20px;
			
		}

		
		@media screen and (min-width: 768px){
			#shopify-section-{{section.id}} h2 {
			line-height: 4rem;
				font-size: 30px;
			}
		}
    </style>
<div id="shopify-section-[id]">

	<div class="container">
<div class="col-sm-9 col-md-9">

<h2><strong>SafeMend™ is a Super Easy Quick Fix for Wall Flaws</strong></h2>
	<p>To use, all you need to do is:</p>
	<p>1. Squeeze out some patch onto the wall flaws</p>
	<p>2. Spread, and scrape off excess with the included FREE Scraper & Nozzle</p>
	<p>3. Let it dry for 4 hours</p>
	<p>4. Sand and paint if necessary</p>

<br>
<div style="margin-top:10px; ">
	{% if section.settings.image_block %}
			<img data-src="{{ section.settings.image_block | img_url: '800x800' }}"  alt="" class="col-sm-6 col-md-6 lazyload" style="margin-bottom: 20px;">
				{% endif %}
				{% if section.settings.image_block_2 %}
			<img data-src="{{ section.settings.image_block_2 | img_url: '800x800' }}"  alt="" class="col-sm-6 col-md-6 lazyload" style="margin-bottom: 20px;">
				{% endif %}
			</div>
			
			<div class="col-sm-12 col-md-12 button btn-buy-product custom-btn-4" style="margin-bottom: 10px;">
GET 50% OFF NOW
<i class="fa fa-caret-right" aria-hidden="true"></i>
</div>
		</div>

	</div><!-- / container -->

</div>

{% schema %}
{
  "name": "Inline info 5",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
