 <style>

		#shopify-section-{{section.id}} p {
			color: {{ section.settings.text_bg }};
			font-size: 22px;
		}
		
		#shopify-section-{{section.id}} h2 {
		line-height: 3rem;
			font-size: 20px;
			
		}
		
		#shopify-section-{{section.id}} h3 {
		color: #00953d;
			
		}
		
		.icon-table{
			padding-left: 10px;
			padding-right: 0;
			max-width: 65px;
		}
		
		.text-table{
			padding: 15px 0 15px 10px;
			font-size: 20px;
			align-self: center;
		}
		
		.row-table{
			border-bottom: 1px solid #a3bac6;
			
		}
		
		.cell-table{
			display: flex;
			padding: 25px 0;
			justify-content: center;
			 max-height: 130px; 
		}
		
		.cell-header{
		font-size: 32px;
		}
		
		#shopify-section-{{section.id}} h5 {
color: #00953d;		
font-weight: bold;	
		}

		
		@media screen and (min-width: 768px){
			#shopify-section-{{section.id}} h2 {
			line-height: 4rem;
				font-size: 30px;
			}
		}
		
			@media screen and (max-width: 768px){
			.cell-table {
				padding: 5px 0;
				 max-height: 95px; 
				/* min-height: 95px; */
			}

			.icon-table {
				max-width: 32px;
			}
			.text-table{
				font-size: 13px;
			}
			.cell-header{
				font-size: 14px;
			}
		}
		
	
    </style>
<div id="shopify-section-[id]">

	<div class="container">
<div class="col-sm-9 col-md-9">

<h2><strong>How Is This Any Different from Others?</strong></h2>
	<div class="col-md-12" id="advatg" style="padding-left: 0; padding-right: 0; margin-bottom: 25px;">
	
	<!-- <img src="{{ 'advantages.svg' | asset_url }}" class="desktop-visible"  alt=""> -->
	<!-- <img src="{{ 'advantages_m.svg' | asset_url }}" class="mobile-visible"  alt=""> -->
	
	<div class="row row-table" >
		<!-- <!-- <!-- <div class="col-xs-6 cell-table"><img class="col-xs-8" src="{{ 'logo2_blue.png' | asset_url }}"  alt=""></div>  --> 
		<div class="col-xs-6 cell-table cell-header" style="font-weight: bold; text-align:center; line-height:60px;">SafeMend™</div>
		<div class="col-xs-6 cell-table cell-header" style="border-left: 1px solid #a3bac6; font-weight: bold; text-align:center; line-height:60px;">Other Alternatives</div>
	</div>
	
	<div class="row row-table">
		<div class="col-xs-6 cell-table" style="color: #24c31d">
			<img class="col-xs-3 icon-table" data-src="{{ 'check2.svg' | asset_url }}" class="lazyload" alt="">
			<div class="col-xs-9 text-table">Spreads well and non-messy</div>
		</div>
		<div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6; color: #e20b0c">
			<img class="col-xs-3 icon-table" data-src="{{ 'uncheck.svg' | asset_url }}" class="lazyload"  alt="">
			<div class="col-xs-9 text-table">Does not spread well and drops messy clumps all over the place</div>
		</div>
	</div>
	
	<div class="row row-table">
		<div class="col-xs-6 cell-table" style="color: #24c31d">
			<img class="col-xs-3 icon-table" data-src="{{ 'check2.svg' | asset_url }}" class="lazyload"  alt="">
			<div class="col-xs-9 text-table">The perfect fix for both large and small wall flaws</div>
		</div>
		<div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6; color: #e20b0c" >
			<img class="col-xs-3 icon-table" data-src="{{ 'uncheck.svg' | asset_url }}" class="lazyload" alt="">
			<div class="col-xs-9 text-table">Many are of no good for anything larger than a nail hole</div>
		</div>
	</div>
	
	<div class="row row-table">
		<div class="col-xs-6 cell-table" style="color: #24c31d">
			<img class="col-xs-3 icon-table" data-src="{{ 'check2.svg' | asset_url }}" class="lazyload"  alt="">
			<div class="col-xs-9 text-table">Does not ever shrink</div>
		</div>
		<div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6; color: #e20b0c">
			<img class="col-xs-3 icon-table" data-src="{{ 'uncheck.svg' | asset_url }}" class="lazyload"  alt="">
			<div class="col-xs-9 text-table">Shrinks a lot after some time</div>
		</div>
	</div>
	
	<div class="row row-table">
		<div class="col-xs-6 cell-table" style="color: #24c31d">
			<img class="col-xs-3 icon-table" data-src="{{ 'check2.svg' | asset_url }}" class="lazyload"  alt="">
			<div class="col-xs-9 text-table">Dries quick but gives enough malleable time for smoothening</div>
		</div>
		<div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6; color: #e20b0c">
			<img class="col-xs-3 icon-table" data-src="{{ 'uncheck.svg' | asset_url }}" class="lazyload"  alt="">
			<div class="col-xs-9 text-table">Dries too quick without giving working time for smoothening</div>
		</div>
	</div>
	
	<div class="row row-table">
		<div class="col-xs-6 cell-table" style="color: #24c31d">
			<img class="col-xs-3 icon-table" data-src="{{ 'check2.svg' | asset_url }}" class="lazyload" alt="">
			<div class="col-xs-9 text-table">Made of 100% non-toxic materials</div>
		</div>
		<div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6; color: #e20b0c">
			<img class="col-xs-3 icon-table" data-src="{{ 'uncheck.svg' | asset_url }}" class="lazyload"  alt="">
			<div class="col-xs-9 text-table">Component chemicals are usually toxic and unsafe for home use</div>
		</div>
	</div>
	
	</div>

<p><span class="btn-buy-product custom-btn-3">SafeMend™</span> is a <strong>non-toxic and no-sweats</strong> wall mending agent carefully formulated to give the absolute best results.</p>
<br>
<p>So, if what you are looking for is an easy-to-use fix that gives a professional-looking outcome, then you should give <span class="btn-buy-product custom-btn-3">SafeMend™</span> a try.</p>
<br>
<p>We have a fast depleting stock of these mending agents due to increasing demand. So, we would suggest you check to see if there are still some left in stock.</p>
<br>
<div class="col-md-12">

	<div class="row btn-buy-product" style="border: 0.5rem solid #fe993f; margin: 10px auto; cursor: pointer;">
	<div class="col-sm-8" style="margin:20px auto;">
		<div>
			<img data-src="{{ 'free-only.png' | asset_url }}" class="lazyload"  alt="">
				{% if section.settings.image_block %}
					<img data-src="{{ section.settings.image_block | img_url: '1000x1000' }}" class="lazyload" alt="">
				{% endif %}
		</div>
		</div>
		
		
		
		<div class="col-sm-4"  style=" margin: 25px auto 5px auto;  cursor: pointer;">
			<div class="text-center" style=" border: 0.3rem solid #00953d;">
		<div >
		<h5>+ FREE Scraper</h5>
			<img data-src="{{ 'free2.jpg' | asset_url }}" class="lazyload"  alt="">
		</div>
		
	</div></div>
			<div class="col-sm-4"  style=" margin: 15px auto 20px auto; cursor: pointer;">
			<div class="text-center " style=" border: 0.3rem solid #00953d;">
		<div >
		<h5>+ FREE Nozzle</h5>
			<img data-src="{{ 'free1.jpg' | asset_url }}" class="lazyload"  alt="">
		</div>
	</div>
			
			</div>
	</div>
	
</div>

</div>

	</div><!-- / container -->

</div>

{% schema %}
{
  "name": "Inline info 7",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
