 <style>
	#shopify-section-{{section.id}} .cta-bar {
	  background-color: {{ section.settings.section_bg }};
	}

	#shopify-section-{{section.id}} .cta-bar p {
		color: {{ section.settings.text_bg }};
	}
		
	.goals .section-header {
		padding: 10px 0 285px;
	}

	.goals{
		margin: 40px 0;
	}

	.goals .goal-steps {
		align-items: center;
		background: #fff;
		box-shadow: 0 20px 30px 0 rgba(31,31,92,0.12) ;
		border-radius: 14px;
		display: flex;
		flex-wrap: wrap;
		margin-top: -320px;
		padding: 23px 23px 10px 40px;
	}
	
	.goals .goal-steps .step__block {
		display: flex;
		flex: 1;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.section-header {
		margin-bottom: 30px;
	}

	.goals h3{
		font-size: 14px;
		color: #32325d;
		font-weight: 600;
		letter-spacing: 0.07px;
		text-transform: uppercase;
	}

	.goals .section-header .h1 {
		margin: 0 auto;
		max-width: 643px;
	}

	.goals .step__icon img{
		max-height: 200px;
		max-width: 200px;
	}

	.goals .goal-steps .step__block .step__number {
		align-items: center;
		display: flex;
	}

	.goals .goal-steps .step__block .step__number .circle {
		background: #fff;
		border-radius: 50%;
		box-shadow:0 8px 14px 0 rgba(254, 153, 63, 0.4);
		color: #fe993f;
		font-size: 14px;
		height: 35px;
		letter-spacing: 0.07px;
		line-height: 35px;
		text-align: center;
		width: 35px;
	}
	
	.goals .goal-steps .step__block .step__number .dashes {
		flex: 1;
		color: #fe993f;
		overflow: hidden;
		width: 100%;
	}

	@media (max-width: 767px){
		.container {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	@media (max-width: 1023px){
		.goals .goal-steps {
			flex-flow: column;
			padding: 40px 23px 23px 23px;
		}

		.goals .goal-steps .step__block {
			align-items: center;
			flex-flow: column;
		}

		.shopify-section .goals .goal-steps .step__block .step__info {
			display: flex;
			flex-flow: column-reverse;
			margin: 20px 0;
			text-align: center;
		}

		.goals .goal-steps .step__block .step__number {
			justify-content: center;
			flex-flow: column;
		}

		.goals .goal-steps .step__block .step__number .dashes {
			text-align: center;
		}
	}

	@media (min-width: 1024px){
		.goals .goal-steps .step__block .step__icon {
			margin-right: 26px;
		}
		
		.goals .goal-steps .step__block .step__number { 
			align-items: baseline; 
		} 

		.goals .goal-steps .step__block .step__number .circle {
			margin-right: 10px;
		} 
		
		/* .goals .goal-steps .step__block .step__number .dashes{ */
		/* white-space: nowrap; */
		/* } */

		/* .goals .step__info{ */
		/* max-width: 230px; */
		/* } */
	}
	
    </style>
	
	<div class="goals">
		<div class="section-header text-center">
        <h1 class="section-header__title-light">SafeMend™ is a Super Easy Quick Fix for Wall Flaws</h1>
    </div>

  <div class="container">
    <div class="section-block">
      <div class="goal-steps">
        <div class="col-md-6 step__block">
          <div class="step__icon">
            <img data-src="{{ 'inst1.jpg' | asset_url }}" class="lazyload" alt="">
          </div>
          <div class="step__info">
		   <div class="step__number">
              <div class="circle">01</div>
			    <div class="dashes"><h3>Squeeze out some patch onto the wall flaws</h3></div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6  step__block">
          <div class="step__icon">
            <img data-src="{{ 'inst2.jpg' | asset_url }}" class="lazyload" alt="">
          </div>
          <div class="step__info">
            <div class="step__number">
              <div class="circle">02</div>
              <div class="dashes"><h3>Spread, and scrape off excess with the included FREE Scraper & Nozzle</h3></div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 step__block">
          <div class="step__icon">
            <img data-src="{{ 'inst3.jpg' | asset_url }}" class="lazyload" alt="">
          </div>
          <div class="step__info">
            <div class="step__number">
              <div class="circle">03</div>
              <div class="dashes"><h3>Let it dry for 4 hours</h3></div>
            </div>
          </div>
        </div>
        
		 <div class="col-md-6 step__block">
          <div class="step__icon">
            <img data-src="{{ 'inst4.jpg' | asset_url }}" class="lazyload" alt="">
          </div>
          <div class="step__info">
            <div class="step__number">
              <div class="circle">04</div>
              <div class="dashes"><h3>Sand and paint if necessary</h3></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Inline info",
  "settings": [
	{
      "type": "text",
          "id": "text",
          "label": "Inline Text",
          "default": "Inline Text"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
