{%- assign product = all_products[settings.featured_product_global] -%}
{%- assign selected_variant = product.selected_or_first_available_variant -%}
 <style>
		#shopify-section-{{section.id}} .redbar{
			background: {{ section.settings.underline_bg }};
		}
		
	    {% if section.settings.pf_image %}
			#shopify-section-{{section.id}} .summary {
				background: url({{ section.settings.pf_image | img_url: 'master' }}) no-repeat right center;
				    -webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
			}
		{% endif %}
		
		
		
		#shopify-section-{{section.id}} .summary p{
		color:{{ section.settings.list_text_bg }};
		}
		
		#shopify-section-{{section.id}} .summary h1,
		#shopify-section-{{section.id}} .summary .desc{
		   color:{{ section.settings.text_bg }};
		}
		
		
		#shopify-section-{{section.id}} .button{
			background-color:{{ section.settings.btn_bg }};
			border: 1px solid {{ section.settings.btn_bg }};
			color: {{ section.settings.btn_text_bg }};
		}

    </style>

<div class="summary">

<div class="container-fluid">

	<div class="row">


		<div class="col-md-offset-2 col-md-5">
			<h1>{{section.settings.text_header}}</h1>

			<div class="col-md-12">

			<div class="redbar m-left">&nbsp;</div>

			
			<div class="center">{% if section.settings.side_image %}
				<img data-src="{{ section.settings.side_image | img_url: '600x600' }}" class="shadow lazyload desktop-none product">
			{% endif %}</div>

				{% if section.settings.check_image and section.settings.text_list_1 != ''%}
				<img data-src="{{ section.settings.check_image | img_url: '300x300' }}" class="checkmark lazyload"> 
			{% endif %}
   
			<p>{{section.settings.text_list_1}}</p><div class="clearfix"></div>
	  
			{% if section.settings.check_image and section.settings.text_list_2 != ''%}
				<img data-src="{{ section.settings.check_image | img_url: '300x300' }}" class="checkmark lazyload"> 
			{% endif %}
			
			<p>{{section.settings.text_list_2}}</p><div class="clearfix"></div>
			
			{% if section.settings.check_image and section.settings.text_list_3 != ''%}
				<img data-src="{{ section.settings.check_image | img_url: '300x300' }}" class="checkmark lazyload"> 
			{% endif %}
			
			<p>{{section.settings.text_list_3}}</p><div class="clearfix"></div>
			
			{% if section.settings.check_image and section.settings.text_list_4 != ''%}
				<img data-src="{{ section.settings.check_image | img_url: '300x300' }}" class="checkmark lazyload"> 
			{% endif %}
			
			<p>{{section.settings.text_list_4}}</p><div class="clearfix"></div>
			
				{% if section.settings.check_image and section.settings.text_list_5 != ''%}
				<img data-src="{{ section.settings.check_image | img_url: '300x300' }}" class="checkmark lazyload"> 
			{% endif %}
			
			<p>{{section.settings.text_list_5}}</p><div class="clearfix"></div>
			
		</div>

		<div class="mobile-center">

		<!-- <div class="p-left"> -->
			<div class="button btn-buy-product" data-id="{{selected_variant.id}}">{{section.settings.btn_text}} <i class="fa fa-caret-right" aria-hidden="true"></i></div>
			<!-- </div>  -->
			</div> 
			<br>

		<p class="desc">{{section.settings.text_header_3}}</p>

		</div><!-- / column -->

		<div class="col-md-5  desktop-only">
			<br>
		
			{% if section.settings.logo %}
				<img data-src="{{ section.settings.logo | img_url: '600x600' }}" class="logo-outline lazyload">
			{% endif %}
			
			{% if section.settings.side_image %}
				<img data-src="{{ section.settings.side_image | img_url: '600x600' }}" class="bottom-product lazyload desktop-only shadow">
			{% endif %}
			<div class="clearfix"></div>

		</div><!-- / column -->
	

	</div><!-- / row -->

</div><!-- / container -->

</div>

{% schema %}
{
  "name": "Footer Block Info",
  "settings": [
  {
      "type": "text",
          "id": "text_header",
          "label": "Header Text",
          "default": "Header Text"
    },
	{
      "type": "image_picker",
          "id": "logo",
          "label": "Logo image"
    },
	{
      "type": "image_picker",
      "id": "check_image",
      "label":"Check list image"
    },
	{
      "type": "text",
          "id": "text_list_1",
          "label": "List Text 1",
          "default": "List Text 1"
    },
	{
      "type": "text",
          "id": "text_list_2",
          "label": "List Text 2",
          "default": "List Text 2"
    },
	{
      "type": "text",
          "id": "text_list_3",
          "label": "List Text 3",
          "default": "List Text 3"
    },
	{
      "type": "text",
          "id": "text_list_4",
          "label": "List Text 4",
          "default": "List Text 4"
    },
	{
      "type": "text",
          "id": "text_list_5",
          "label": "List Text 5",
          "default": "List Text 5"
    },
	{
      "type": "text",
          "id": "text_header_3",
          "label": "Header Text 3",
          "default": "Header Text 3"
    },
	
	{
      "type": "image_picker",
      "id": "side_image",
      "label":"Side image"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	{
      "type": "color",
      "id": "text_bg",
        "label": "Main Text color",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "list_text_bg",
        "label": "List Text color",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
