 <style>

		#shopify-section-{{section.id}} p {
			color: {{ section.settings.text_bg }};
			font-size: 18px;
			font-weight: 600;
		}
		
		#shopify-section-{{section.id}} .color--bg {
          background: #EFF1F4;
        }
		

    </style>
	


<section class="benefits-block color--bg">
    <div class="container">
        <h1 class="text-center col-md-12" style=" margin-bottom: 40px;">BENEFITS</h1>
        <div class="col-md-12 items">
            <div class="item ">
                <img data-src="{{ 'non_toxic.svg' | asset_url }}" class="lazyload"  width="131" height="131" />
                <p>Non-Toxic & 100% safe</p>
            </div>
            <div class="item ">
                <img data-src="{{ 'time.svg' | asset_url }}" class="lazyload"   width="131" height="131" />
                <p>Easy, quick & convenient</p>
            </div>
            <div class="item  ">
                <img data-src="{{ 'sofa.svg' | asset_url }}" class="lazyload"   width="131"  height="131" />
                 <p>Use it for a variety of projects around the house & outdoors</p>
            </div>
            <div class="item ">
                  <img data-src="{{ 'repair.svg' | asset_url }}" class="lazyload"   width="131"  height="131" />
                 <p>Repairs anything from cracks, peels, bubbling, chalking, & powdering</p>
            </div>
			 <div class="item ">
                  <img data-src="{{ 'shield.svg' | asset_url }}" class="lazyload"   width="131"  height="131" />
                 <p>Mold-proof, waterproof & heat resistant</p>
            </div>
        </div>
    </div>
    <!-- {{ 'product-group-img.png' | asset_url }} -->
</section>

{% schema %}
{
  "name": "Inline info 2",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
