
 <style>
	
		
		.jumbotron{
			background: none;
		}
		
	  
			#shopify-section-{{section.id}} .top-banner-bg {
			
			  background-image: url({{"herobanner2.jpg" | asset_url}});
			background-size: cover;
			background-position-y: 50%;
			background-repeat: no-repeat;
			margin-top: 70px;
			}
		
		#shopify-section-{{section.id}} .top-banner-bg h1{
			font-size: 40px;
			color: #000;
			text-shadow: none;
			margin-left: 0;
			font-weight: 700;
			letter-spacing: .5px;
		}
		
		#shopify-section-{{section.id}} .top-banner-bg p{
			font-size: 18px;
			color: #000;
			margin: 0 0 15px;
			font-style: normal;
		}
		
		#shopify-section-{{section.id}} .top-banner-bg h1,
		#shopify-section-{{section.id}} .top-banner-bg h3,
		#shopify-section-{{section.id}} .top-banner-bg h4{
		   color:{{ section.settings.text_bg }};
		}
		
		#shopify-section-{{section.id}} .top-banner-bg p{
		color:{{ section.settings.list_text_bg }};
		}
		
		
		
	.guarantee-block{
			position: relative;
			bottom: -100px;
			font-weight: 700;
			box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
			margin: 0px auto;
			background: white;
			border-radius: 10px ;
			border-width: 1px ;
			border-style: solid ;
			border-color: #00953d;
			border-image: initial ;
			text-align: center;
			font-size: 30px;
			min-height: 110px;
			padding: 30px 0;
		}
		
			@media screen and (max-width: 767px){
			
			.guarantee-block{
				font-size: 25px;
			}
				#top-banner {
					margin-top: 80px;
					
				}
		}

    </style>
	<div id="shopify-section-[id]" class="top-banner-bg">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <div class="row">
  <div class="col-md-7">
    <h1 class="display-4">{{section.settings.text_header}}</h1>
    <p class="lead" style="margin-top: 15px !important;">{{section.settings.text_header_2}}</p>
	<div class="mobile-center">
		<div class="button btn-buy-product" data-id="{{selected_variant.id}}">{{section.settings.btn_text}} <i class="fa fa-caret-right" aria-hidden="true"></i></div>
	</div>
	</div>


		</div>
		<div class="guarantee-block text-uppercase">
Curated For You and You Only
</div>
  </div>
</div>

</div>

{% schema %}
{
  "name": "Header Block Info",
  "settings": [
  {
      "type": "text",
          "id": "text_header",
          "label": "Header Text",
          "default": "Header Text"
    },
	{
      "type": "text",
          "id": "text_header_2",
          "label": "Header Text 2",
          "default": "Header Text 2"
    },
	{
      "type": "image_picker",
      "id": "check_image",
      "label":"Check list image"
    },
	{
      "type": "text",
          "id": "text_list_1",
          "label": "List Text 1",
          "default": "List Text 1"
    },
	{
      "type": "text",
          "id": "text_list_2",
          "label": "List Text 2",
          "default": "List Text 2"
    },
	{
      "type": "text",
          "id": "text_list_3",
          "label": "List Text 3",
          "default": "List Text 3"
    },
	{
      "type": "text",
          "id": "text_list_4",
          "label": "List Text 4",
          "default": "List Text 4"
    },	
	{
      "type": "text",
          "id": "text_list_5",
          "label": "List Text 5",
          "default": "List Text 5"
    },
	{
      "type": "text",
          "id": "text_header_3",
          "label": "Header Text 3",
          "default": "Header Text 3"
    },
	
	{
      "type": "image_picker",
      "id": "side_image",
      "label":"Side image"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	{
      "type": "color",
      "id": "text_bg",
        "label": "Main Text color",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "list_text_bg",
        "label": "List Text color",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
