 <style>

		#shopify-section-{{section.id}} p {
			color: {{ section.settings.text_bg }};
			font-size: 22px;
		}
		
		#shopify-section-{{section.id}} h2 {
		line-height: 3rem;
			font-size: 20px;
			
		}

		
		@media screen and (min-width: 768px){
			#shopify-section-{{section.id}} h2 {
			line-height: 4rem;
				font-size: 30px;
			}
		}
    </style>
<div id="shopify-section-[id]">

	<div class="container">
<div class="col-sm-9 col-md-9">

<h2><strong>So How Do These Tablets Work?</strong></h2>
	<p>These <span class="btn-buy-product custom-btn-3">Wash Warrior</span> tablets dissolve in the water when you toss them in.</p>
	<br>
<p>And the proprietary mixture contains elements like sodium percarbonate that, when it touches the water, starts releasing hydrogen peroxide to deep clean the nooks and crannies of your washing machine.</p>
<br>
<p>These and other elements can clear up the buildup that forms after weeks of soap and dirt.</p>
<div style="margin-top:10px; margin-bottom: 10px">
	{% if section.settings.image_block %}
			<img data-src="{{ section.settings.image_block | img_url: '1000x1000' }}" class="lazyload" alt="">
				{% endif %}
			</div>
		</div>

	</div><!-- / container -->

</div>

{% schema %}
{
  "name": "Inline info 4",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
