{%- assign product = all_products[settings.featured_product_global] -%}
{%- assign selected_variant = product.selected_or_first_available_variant -%}
 <style>
		#shopify-section-{{section.id}} .redbar{
			background: {{ section.settings.underline_bg }};
		}
		
	
		
		#shopify-section-{{section.id}} .review-bg p{
		   color:{{ section.settings.text_bg }};
		}
		
		#shopify-section-{{section.id}} .button{
			background-color:{{ section.settings.btn_bg }};
			border: 1px solid {{ section.settings.btn_bg }};
			color: {{ section.settings.btn_text_bg }};
			float: none;
			margin-top: 40px;
		}


		#shopify-section-{{section.id}} p {
			font-size: 22px;
		}
		
		#shopify-section-{{section.id}} h2 {
		line-height: 3rem;
			font-size: 20px;
			
		}
		
		#shopify-section-{{section.id}} h3 {
		color: #00953d;
			
		}
		
		.icon-table{
			padding-left: 10px;
			padding-right: 0;
			max-width: 65px;
		}
		
		.text-table{
			padding: 15px 0 15px 10px;
			font-size: 20px;
			align-self: center;
		}
		
		.row-table{
			

			
		}
		
		.cell-table{
			display: flex;
			padding: 25px 0;
			justify-content: center;
			 max-height: 130px; 
		}
		
		.cell-header{
		font-size: 32px;
		}
		
		#advatg {
			box-shadow: 0 10px 20px 0 rgba(31,31,92,0.12);
			border-radius: 14px;
		}
		
		#shopify-section-{{section.id}} h5 {
color: #00953d;		
font-weight: bold;	
		}

		
		@media screen and (min-width: 768px){
			#shopify-section-{{section.id}} h2 {
			line-height: 4rem;
				font-size: 30px;
			}
			
			#advatg{
				box-shadow: none;
				border-radius: 0;
			}
			
			.row-table {
				border-bottom: 1px solid #a3bac6;
			}
		}
		
			@media screen and (max-width: 768px){
			.cell-table {
				padding: 5px 0;
				 max-height: 95px; 
				/* min-height: 95px; */
			}

			.icon-table {
				max-width: 32px;
			}
			.text-table{
				font-size: 13px;
			}
			.cell-header{
				font-size: 14px;
			}
		}
		
		
		
    </style>

<div class="review-bg">
<div class="container">

	<h1 class="text-center" style="margin-bottom: 20px;">SAND IT. PAINT IT. SAFEMEND IS 100% MOLD PROOF SO IT CAN BE USED INDOORS, OUTDOORS AND ON WET AREAS.</h1>

<div class="col-sm-12 col-md-12">


			<div style="margin-top:10px;">
			<img data-src="{{ 'before_1.jpg' | file_url }}" class="col-sm-6 col-md-6 lazyload" style="margin-bottom: 20px;" >
			<img data-src="{{ 'before_3.jpg' | file_url }}" class="col-sm-6 col-md-6 lazyload" style="margin-bottom: 20px;" >

			</div>
		
			<div class="clearfix"> </div>

		</div><!-- / column -->
		
	
<div class="col-sm-12 col-md-12" style="padding:0; margin-top: 20px;">

<h1 >{{section.settings.text_header}}</h1>


	<div class="col-md-9" id="advatg" style="padding:0;margin-top: 60px; margin-bottom: 25px; float:none; margin-left: auto; margin-right: auto;">
	
	<!-- <img src="{{ 'advantages.svg' | asset_url }}" class="desktop-visible"  alt=""> -->
	<!-- <img src="{{ 'advantages_m.svg' | asset_url }}" class="mobile-visible"  alt=""> -->
	
	<div class="row row-table" >
		<!-- <!-- <!-- <div class="col-xs-6 cell-table"><img class="col-xs-8" src="{{ 'logo2_blue.png' | asset_url }}"  alt=""></div>  --> 
		<div class="col-xs-6 cell-table cell-header" style="font-weight: bold; text-align:center; line-height:60px;">SafeMend™</div>
		<div class="col-xs-6 cell-table cell-header" style="border-left: 1px solid #a3bac6; font-weight: bold; text-align:center; line-height:60px;">Other Alternatives</div>
	</div>
	
	<div class="row row-table">
		<div class="col-xs-6 cell-table" style="color: #24c31d">
			<img class="col-xs-3 icon-table lazyload" data-src="{{ 'check2.svg' | asset_url }}"  alt="">
			<div class="col-xs-9 text-table">Spreads well and non-messy</div>
		</div>
		<div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6; color: #e20b0c">
			<img class="col-xs-3 icon-table lazyload" data-src="{{ 'uncheck.svg' | asset_url }}"  alt="">
			<div class="col-xs-9 text-table">Does not spread well and drops messy clumps all over the place</div>
		</div>
	</div>
	
	<div class="row row-table">
		<div class="col-xs-6 cell-table" style="color: #24c31d">
			<img class="col-xs-3 icon-table lazyload" data-src="{{ 'check2.svg' | asset_url }}"  alt="">
			<div class="col-xs-9 text-table">The perfect fix for both large and small wall flaws</div>
		</div>
		<div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6; color: #e20b0c" >
			<img class="col-xs-3 icon-table lazyload" data-src="{{ 'uncheck.svg' | asset_url }}"  alt="">
			<div class="col-xs-9 text-table">Many are of no good for anything larger than a nail hole</div>
		</div>
	</div>
	
	<div class="row row-table">
		<div class="col-xs-6 cell-table" style="color: #24c31d">
			<img class="col-xs-3 icon-table lazyload" data-src="{{ 'check2.svg' | asset_url }}"  alt="">
			<div class="col-xs-9 text-table">Does not ever shrink</div>
		</div>
		<div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6; color: #e20b0c">
			<img class="col-xs-3 icon-table lazyload" data-src="{{ 'uncheck.svg' | asset_url }}"  alt="">
			<div class="col-xs-9 text-table">Shrinks a lot after some time</div>
		</div>
	</div>
	
	<div class="row row-table">
		<div class="col-xs-6 cell-table" style="color: #24c31d">
			<img class="col-xs-3 icon-table lazyload" data-src="{{ 'check2.svg' | asset_url }}"  alt="">
			<div class="col-xs-9 text-table">Dries quick but gives enough malleable time for smoothening</div>
		</div>
		<div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6; color: #e20b0c">
			<img class="col-xs-3 icon-table lazyload" data-src="{{ 'uncheck.svg' | asset_url }}"  alt="">
			<div class="col-xs-9 text-table">Dries too quick without giving working time for smoothening</div>
		</div>
	</div>
	
	<div class="row row-table">
		<div class="col-xs-6 cell-table" style="color: #24c31d">
			<img class="col-xs-3 icon-table lazyload" data-src="{{ 'check2.svg' | asset_url }}"  alt="">
			<div class="col-xs-9 text-table">Made of 100% non-toxic materials</div>
		</div>
		<div class="col-xs-6 cell-table" style="border-left: 1px solid #a3bac6; color: #e20b0c">
			<img class="col-xs-3 icon-table lazyload" data-src="{{ 'uncheck.svg' | asset_url }}"  alt="">
			<div class="col-xs-9 text-table">Component chemicals are usually toxic and unsafe for home use</div>
		</div>
	</div>
	
	</div>
</div>

	</div>
	
	<div class="container-fluid">
<!-- <div class="row" style="padding:0;"> -->
<!-- <div class="col-md-6"> -->
		


		<!-- <div class="col-md-10 col-md-offset-1"> -->
		<!-- <p class="review-big">{{section.settings.text}}</p> -->

		<!-- <p>{{section.settings.text_author}}</p> -->

		<!-- </div><!-- / column -->

		
		<!-- </div> -->
<!-- <div class="col-md-6"> -->
<!-- {% if section.settings.pf_image %} -->
				<!-- <img src="{{ section.settings.pf_image | img_url: '800x800' }}" class="shadow" style="margin-top: 10%;"> -->
			<!-- {% endif %} -->
			 <!-- <div class="clearfix"></div> -->
<!-- </div> -->
<!-- </div> -->
<div class="row">
<div class="center"> <div class="button col-sm-4 btn-buy-product" data-id="{{selected_variant.id}}">{{section.settings.btn_text}}</div></div>
</div>
	</div><!-- / container -->

</div>

{% schema %}
{
  "name": "Customer Review Info",
  "settings": [
  {
      "type": "text",
          "id": "text_header",
          "label": "Header Text",
          "default": "Header Text"
    },
	 {
      "type": "text",
          "id": "text",
          "label": "Content text",
          "default": "Content text"
    },
	 {
      "type": "text",
          "id": "text_author",
          "label": "Author text",
          "default": "Author text"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	{
      "type": "color",
      "id": "text_bg",
        "label": "Main Text color",
      "default": "#222"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
