
<div class="footer">

 <style>
		#shopify-section-{{section.id}} .footer {
          background-color: {{ section.settings.footer_bg }};
        }

		#shopify-section-{{section.id}} .footer p,
		#shopify-section-{{section.id}} .footer a,
		#shopify-section-{{section.id}} .footer h5{
			color: {{ section.settings.text_bg }};
		}
		
		.footer h5 {
			font-weight: 700;
			}
		
		#shopify-section-{{section.id}} li {
          width: 49.4%;
		  float: left;
        }
		
		.payment-list svg{
			margin-right: 1rem;
			margin-left: 0;
		}
		
		.form__floating-label {
			position: absolute;
			left: 13px;
			top: 0;
			line-height: 48px;
			font-size: 1.3rem;
			color: #677279;
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transform-origin: left top;
			transform-origin: left top;
			transition: -webkit-transform 0.2s ease-in-out;
			transition: transform 0.2s ease-in-out;
			transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
			pointer-events: none;
		}
		
		.form__input-wrapper {
			position: relative;
			width: 100%;
			margin-top: 12px;
			margin-bottom: 8px;
		}
		
		.form__field {
			display: block;
			padding: 12px 12px;
			padding-top: 12px;
			padding-bottom: 12px;
			border-radius: 2px;
			border: 1px solid #d4d6d8;
			width: 100%;
			line-height: normal;
			height: 48px;
			color: #1e2d7d;
			-webkit-appearance: none;
			resize: none;
			font-size: 1.3rem;
			box-shadow: 0 1px rgba(212,214,216,0.25) inset;
			transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		}

		.form__input-wrapper--labelled .form__field {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
		.button-subscribe{
			padding: 15px 30px 14px 30px;
			display: inline-block;
			margin: 10px 0 25px 0;
			background-color: #ff9941;
			border: 1px solid #ff9941;
			font-family: 'Open Sans', helvetica, sans-serif;
			font-size: 1em;
			color: #fff;
			cursor: pointer;
			font-weight: 700;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			text-align: center;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-webkit-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.64);
-moz-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.64);
box-shadow: 4px 8px 22px -2px rgba(0,0,0,0.64);
		}
		
		.copyright-block{
			text-align: right;
		}
		
		@media screen and (max-width: 767px){
			
			.mobile-center{
				  text-align: center;
				  margin: 12px auto 0 auto!important;
			}
			
			.copyright-block{
				text-align: center;
			}
		
			.payment-list{
				margin-bottom: 10px;
			}

			.footer-menu{
				padding: 10px 15px 30px 15px;
		   	}
		}
   
   .dnWNRa.dnWNRa.dnWNRa {
    padding: 15px 30px 14px 30px !important;
    font-family: 'Open Sans', helvetica, sans-serif !important;
    letter-spacing: 1.5px !important;
    -webkit-box-shadow: 4px 6px 22px -2px rgb(0 0 0 / 64%) !important;
    -moz-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.64) !important;
    box-shadow: 4px 8px 22px -2px rgb(0 0 0 / 64%) !important;
    line-height: 1.42857143 !important;
}
   .iBPxsB {
    margin: 0px 0 25px 0 !important;
}
   .gRrTwW.gRrTwW.gRrTwW {
    font-family: 'Open Sans',helvetica,sans-serif !important;
    color: #1e2d7d !important;
    padding: 12px 12px !important;
}
   
    </style>
	
  <div class="ivan d-none">{% if customer %}
Hey, {{ customer.first_name }}. 
I can see you! 
I even know your email address: {{ customer.email }}.
{% endif %}</div>
	<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 footer-menu">
            <h5 class="main-h5">
                <a class="f14">
                    Menu
                </a>
            </h5>

            <ul class="no-bullets site-footer__linklist">
                <li><a href="/pages/about-us" target="_blank">About Us</a></li>
                <li><a href="/pages/terms" target="_blank">Terms &amp; Conditions</a></li>
                <li><a href="/pages/contact" target="_blank">Contact Us</a></li>
                <li><a href="/pages/shipping-refund-policy" target="_blank">Shipping & Refund Policy</a></li>
                <li><a href="/pages/privacy" target="_blank">Privacy Policy</a></li>
               <li><a href="/pages/faq" target="_blank">FAQ</a></li>
            </ul>
        </div>
        <!-- / column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer__block-item footer__block-item--newsletter">
                <h5 class="main-h5">get the latest deals and more</h5>

                <div class="footer__newsletter-wrapper">
                  
                  <div class="klaviyo-form-VhnDiV"></div>
                  
                  {% comment %}
                    {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form' -%} 
                      <input type="hidden" name="contact[tags]" value="newsletter" />
                      <div class="form__input-wrapper form__input-wrapper--labelled">
                        {%- if form.posted_successfully? -%}
                          <p class="alert alert--success alert--center" style="color: #fff !important;">You have successfully subscribed</p>
                        {%- else -%}
                          {%- if form.errors -%}
                            <p class="alert alert--error alert--center" style="color: #fff !important;">Failed</p>
                          {%- else -%}
                            <input type="email" id="footer[contact][email]" placeholder="Your email" name="contact[email]" class="form__field form__field--text" required="" />
                            <button type="submit" class="form__submit form__submit--tight button-subscribe">Subscribe</button>
                          {%- endif -%}
                        {%- endif -%}
                      </div>
                    {%- endform -%}
                  {% endcomment %}
                  
                </div>
            </div>
        </div>
    </div>


    <div class="row mobile-center " style="margin: 0 auto; margin-top: 10px;">
        <div class="col-xs-12 col-sm-6 col-md-6 footer__aside-item footer__aside-item--payment">
            <div class="payment-list">
                {% assign enabled_payment_types = 'paypal,american_express,diners_club,discover,jcb, master,visa' | remove: ' ' | split: ',' %} {% for type in enabled_payment_types %} {{ type | payment_type_svg_tag: class:
                'payment-list__item' }} {% endfor %}
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 copyright-block">
            <div>
                <p style="margin-bottom: 0; margin-top: 2px;">© 2020, {% if section.settings.text_copyright %} <a href="/pages/safemend" title="">{{section.settings.text_copyright}}</a> | {% endif %} All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- / container -->


</div>


{% schema %}
{
  "name": "Footer",
  "settings": [
     {
      "type": "text",
          "id": "text_copyright",
          "label": "Text copyright",
          "default": "Text copyright"
    },
	  {
      "type": "text",
          "id": "logo_link",
          "label": "Logo onclick link",
          "default": "Logo click link"
    },
    {
      "type": "color",
      "id": "footer_bg",
      "label": "Bar",
      "default": "#7796a8"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    },
	{
      "type": "image_picker",
      "id": "logo",
      "label":"Logo image"
    }
  ]
}
{% endschema %}
