 <style>

		#shopify-section-{{section.id}} p {
			color: {{ section.settings.text_bg }};
			font-size: 2.3em;
		}
		

    </style>
<section class="s5-money">
    <div class="container">
        <h1 class="text-center">GUARANTEED TO FIX ANY WALL & CEILING OR RECEIVE A FULL REFUND!<br><span style="color: #ff9941;">(FREE Scraper & Nozzle included)</span></h1>

	</div>
	<img class="bottom-img" src="{{ 'product-group-img.png' | asset_url }}" alt="">
</section>

{% schema %}
{
  "name": "Inline info 2",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
