 <style>

		#shopify-section-{{section.id}} p {
			color: {{ section.settings.text_bg }};
			font-size: 22px;
		}
		
		#shopify-section-{{section.id}} h2 {
		line-height: 3rem;
			font-size: 20px;
			
		}

		
		@media screen and (min-width: 768px){
			#shopify-section-{{section.id}} h2 {
			line-height: 4rem;
				font-size: 30px;
			}
		}
    </style>
<div id="shopify-section-[id]">

	<div class="container">
<div class="col-sm-9 col-md-9">

<h2><strong>You Can Sand it! And You Can Paint it! SafeMend is 100% Mold Proof so You Can Use it Indoors, Outdoors and on Wet Areas.</strong></h2>

<div style="margin-top:10px; margin-bottom: 10px" class="col-sm-12 col-md-12">
	{% if section.settings.image_block %}
	<div class="col-sm-9 col-md-9" style="margin-left: auto; margin-right: auto; float: unset;">
			<img data-src="{{ section.settings.image_block | img_url: '1000x1000' }}" class="lazyload"  alt="">
			</div>
				{% endif %}
			</div>
	<p>This Mending Agent <strong>(plus a FREE Scraper & Nozzle)</strong> is all the patching kit you need for a quick DIY fix for wall holes, cracks, chalking, peeling and bubbling. SafeMend is <strong>Heat-Resistant (Up to 600°F), Mold-proof and Waterproof</strong> - meaning you can use it on ANY wall, indoor or outdoor.</p>

<div class="col-sm-12 col-md-12 button btn-buy-product custom-btn-2">
SafeMend™ is Formulated and Made in the US. Each tube covers a 7x7 ft area which is more than any other mending agent on the market!
<i class="fa fa-caret-right" aria-hidden="true"></i>
</div>
<br>
<p>And unlike many other Spackles out there, <span class="btn-buy-product custom-btn-3">SafeMend™’s</span> careful formulation does not allow it to shrink or crack easily after a couple of weeks.</p>
<br>
	<div style="margin-top:10px; ">
	{% if section.settings.image_block_2 %}
			<img data-src="{{ section.settings.image_block_2 | img_url: '800x800' }}"  alt="" class="col-sm-6 col-md-6 lazyload" style="margin-bottom: 20px; padding-left: 5px; padding-right: 5px; ">
				{% endif %}
				{% if section.settings.image_block_3 %}
			<img data-src="{{ section.settings.image_block_3 | img_url: '800x800' }}"  alt="" class="col-sm-6 col-md-6 lazyload" style="margin-bottom: 20px; padding-left: 5px; padding-right: 5px;">
				{% endif %}
			</div>
	</div>
	</div><!-- / container -->

</div>

{% schema %}
{
  "name": "Inline info 3",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
	{
      "type": "image_picker",
      "id": "image_block_3",
      "label":"Main image 3"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
