
 <style>

		#shopify-section-{{section.id}} .product-features{
			background: {{ section.settings.pf_bg }};
		}

		#shopify-section-{{section.id}} .product-features p {
		   color:{{ section.settings.pf_text_bg }};
		   
		}
	
    </style>
<div class="product-features">


 <style>
		.top-rated {
          background-color: #EFF1F4;
        }


		.top-rated p{
			color: #333333;
		}
		
		.product-features{
  padding: 0;
}
    </style>
<div class="top-rated">

	<div class="container">

			<h1 class="text-center">Patch Your Walls like a Pro Without Any Tools Or Toxic Mending Materials at a Fraction of the Cost</h1>

			
<div class="col-sm-12 col-md-12">


			<div style="margin-top:10px;">
			<img data-src="{{ 'baby_2.jpg' | asset_url }}" class="col-sm-6 col-md-6 lazyload" style="margin-bottom: 20px;" >
			<img data-src="{{ 'before_1.jpg' | asset_url }}" class="col-sm-6 col-md-6 lazyload" style="margin-bottom: 20px;" >

			</div>
		
			<div class="clearfix"> </div>

		</div><!-- / column -->
		
	
		
	</div><!-- / container -->
	
	

</div><!-- / top-rated -->

</div>

{% schema %}
{
  "name": "Product Features Info",
  "settings": [
  {
      "type": "text",
          "id": "pf_text_header",
          "label": "Product Feature Header Text",
          "default": "Product Feature Header Text"
    },
	 {
      "type": "text",
          "id": "pf_text_1",
          "label": "Product Feature Text 1",
          "default": "Product Feature Text 1"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	{
      "type": "image_picker",
      "id": "pf_image2",
      "label":"Block image"
    },
	 {
      "type": "text",
          "id": "pf_list_header_1",
          "label": "List header 1",
          "default": "List header 1"
    },
	 {
      "type": "text",
          "id": "pf_list_text_1",
          "label": "List text 1",
          "default": "List text 1"
    },
	 {
      "type": "text",
          "id": "pf_list_header_2",
          "label": "List header 2",
          "default": "List header 2"
    },
	 {
      "type": "text",
          "id": "pf_list_text_2",
          "label": "List text 2",
          "default": "List text 2"
    },
	 {
      "type": "text",
          "id": "pf_list_header_3",
          "label": "List header 3",
          "default": "List header 3"
    },
	 {
      "type": "text",
          "id": "pf_list_text_3",
          "label": "List text 3",
          "default": "List text 3"
    },
	{
      "type": "color",
      "id": "pf_text_bg",
        "label": "Main Text color",
      "default": "#484848"
    },
	{
      "type": "color",
      "id": "pf_text_2_bg",
	  "label": "Sub block Text color",
      "default": "#494949"
    },
	{
      "type": "color",
      "id": "pf_bg",
	  "label": "Background",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "pf_sub_bg",
	  "label": "Sub block Background",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "rated_text_header",
          "label": "Top Rated Header Text",
          "default": "Top Rated Header Text"
    },
	{
      "type": "text",
          "id": "rated_text_content",
          "label": "Top RatedContent Text",
          "default": "Top Rated Content Text"
    },
    {
      "type": "color",
      "id": "rated_bg",
      "label": "Top Rated Bar",
      "default": "#eee"
    },
    {
      "type": "color",
      "id": "rated_text_bg",
      "label": "Top Rated Text color",
      "default": "#494949"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
