{%- assign product = all_products[settings.featured_product_global] -%}
{%- assign selected_variant = product.selected_or_first_available_variant -%}

{% if section.settings.is_enabled %}
 <style>
		#shopify-section-{{section.id}} #stickyTop{
			background: {{ section.settings.block_bg }};
		}
		
		#shopify-section-{{section.id}} #stickyText{
		   color:{{ section.settings.text_bg }};
		}
		
		#shopify-section-{{section.id}} #stickyButton{
			background-color:{{ section.settings.btn_bg }};
			border: 1px solid {{ section.settings.btn_bg }};
			color: {{ section.settings.btn_text_bg }};
		}

    </style>
	
<div id="stickyTop">
  <div id="stickyInner">
    <div id="stickyImg">
	{% if section.settings.side_image %}
		  <img data-src="{{ section.settings.side_image | img_url: '300x300' }}" class="lazyload" width="100%">
			
			{% endif %}
    </div>
    <div id="stickyText">
      <span style="font-size: 27px; font-weight: 500;">{{section.settings.text_header}}</span>
      <br>
     {{section.settings.text}}
    </div>
   <div id="stickyButton" class="btn-buy-product" data-id="{{selected_variant.id}}">
    {{section.settings.btn_text}}
    </div>
    <div id="stickyArrow">
		{% if section.settings.arrow_image %}
		  <img data-src="{{ section.settings.arrow_image | img_url: '300x300' }}" class="lazyload" width="100%">
			
			{% endif %}
    
    </div>
    <div class="clear"></div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Sticky Bar",
  "settings": [
  {
      "type": "checkbox",
      "id": "is_enabled",
      "label": "Show sticky bar",
      "default": true
    },
  {
      "type": "text",
          "id": "text_header",
          "label": "Header Text",
          "default": "Header Text"
    },
	 {
      "type": "text",
          "id": "text",
          "label": "Content text",
          "default": "Content text"
    },
	{
      "type": "image_picker",
      "id": "side_image",
      "label":"Side image"
    },
	{
      "type": "color",
      "id": "text_bg",
        "label": "Main Text color",
      "default": "#444"
    },
	{
      "type": "image_picker",
      "id": "arrow_image",
      "label":"Arrow image"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#227da9"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "block_bg",
      "label": "Bar color",
      "default": "#fff"
    }
  ]
}
{% endschema %}
