{%- assign product = all_products[settings.featured_product_global] -%}
<div id="top-banner">
    <style>
	
		#top-banner {
		  background-image: url({{"herobanner2.jpg" | asset_url}});
			background-size: cover;
			background-position-y: 50%;
			background-repeat: no-repeat;
			margin-top: 100px;
			
		}

		#top-banner .jumbotron{
			background-color: transparent;
			
			padding-top: 100px;
			max-height: 350px ;
		}
		
		#top-banner h1{
			font-size: 40px;
			text-transform: capitalize;
			color: #000;
			text-shadow: none;
			margin-left: 0;
			font-weight: 700;
			letter-spacing: .5px;
		}
		
		#top-banner p{
			font-size: 18px;
			color: #000;
			margin: 0 0 15px;
			font-style: normal;
		}
		
		
		
		.guarantee-block{
			position: relative;
			bottom: -100px;
			font-weight: 700;
			box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
			margin: 0px auto;
			background: white;
			border-radius: 10px ;
			border-width: 1px ;
			border-style: solid ;
			border-color: #70d4e4;
			border-image: initial ;
			text-align: center;
			font-size: 30px;
			min-height: 110px;
			padding: 50px 0;
		}
		
			@media screen and (max-width: 767px){
			
			.guarantee-block{
				font-size: 25px;
			}
				#top-banner {
					margin-top: 80px;
					
				}
		}
		
    </style>
	
	<div class="container">
	<div class="jumbotron col-12 col-md-9 col-lg-6">
  <h1 class="display-4">NO.0 EYELASH ENHANCING SERUM</h1>
  <p class="lead">Scientifically Proven: 80% Length Increase & 10x Fuller Lashes</p>
  <p class="lead my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">SHOP NOW</a>
  </p>
</div>

<div class="guarantee-block text-uppercase">
Curated For You and You Only
</div>
	</div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
	  {
      "type": "text",
      "id": "navigation_email",
      "label": "Email",
      "default": "info@yourwebsite.com"
    },
    {
      "type": "color",
      "id": "header_bg",
      "label": "Bar",
      "default": "#7796a8"
    }
  ]
}
{% endschema %}
