 {%- assign product = all_products[settings.featured_product_global] -%}
{%- assign selected_variant = product.selected_or_first_available_variant -%}
 <style>
	#shopify-section-{{section.id}}	.redbar{
			background: {{ section.settings.underline_bg }};
		}
		#shopify-section-{{section.id}} .product-features{
			background: {{ section.settings.pf_bg }};
		}

		#shopify-section-{{section.id}} .product-features p {
		   color:{{ section.settings.pf_text_bg }};
		   
		}
		
		#shopify-section-{{section.id}} .darkbg p {
			 color:{{ section.settings.pf_text_2_bg }};
		}

		#shopify-section-{{section.id}} .darkbg{
			background: {{ section.settings.pf_sub_bg }};
		}
		
		.mt-4{
			margin-top: 1.5rem!important;
		}
		
		.darkbg p.m-bottom{
			margin-bottom: 10px !important;
		}
		

		
		@media (min-width: 992px) {
			.descktop-flex{
				display: flex;
				align-items: center;
			} 
		}
		
		#shopify-section-{{section.id}} .button{
			background-color:{{ section.settings.btn_bg }};
			border: 1px solid {{ section.settings.btn_bg }};
			color: {{ section.settings.btn_text_bg }};
			float: none;
			margin-top: 40px;
		}
		
			#shopify-section-{{section.id}}	.custom-btn-2{
	color: #fff;
	margin-top:15px;
	margin-bottom: 15px;
border: 0.3125rem solid #FFBD81 !important;
background: #fe993f;
	text-transform: none;
letter-spacing: normal;
font-style: italic;
font-size: 23px;
}

#shopify-section-{{section.id}} .custom-btn-2:hover{
		color: #fff;
border: 0.3125rem solid #FFBD81;
    background: #fe993f;
  text-decoration:underline;
}

#shopify-section-{{section.id}} .fa-check{
	color: #00953d;
	margin-right: 5px;
}
    </style>
<div class="product-features">
	<div class="container">
	<div class="row text-center">
	<div class="col-sm-12 col-md-9 button btn-buy-product custom-btn-2">
SafeMend™ is Formulated in the US. Each tube covers a 7x7 ft area which is more than any other mending agent on the market!
</div>
</div>
	<div class="row">
	<div class="col-md-12 np">
	
		<h1 class="text-center">{{section.settings.pf_text_header}}</h1>
		<p class="text-center">{{section.settings.pf_text_1}}</p>
	</div><!-- / column -->

	</div><!-- / row -->

	<div class="clearfix"></div>
	<div class="row darkbg descktop-flex custom-shadow">
		<div class="col-sm-6 col-md-6  np " style="margin-bottom: 20px;">
		  {% if section.settings.pf_image %}
			<img class="col-sm-12 col-md-9 lazyload" data-src="{{ section.settings.pf_image | img_url: '600x600' }}" >
			<img class="col-sm-12 col-md-9 lazyload" data-src="{{ section.settings.pf_image2 | img_url: '600x600' }}" >
		{% endif %}
		</div><!-- / column -->
		<div class="col-sm-6 col-md-6 darkbg" style="padding-left: 15px !important; padding-right: 15px !important;">
			<!--<img src="img/bolt.svg" class="icon-small" />--> <p class="m-bottom">
			<span class="bold desktop-none"><i class="fa fa-check" aria-hidden="true"></i>NO Methyliso (MI)</span>
			<span class="bold mobile-none"><i class="fa fa-check" aria-hidden="true"></i>NO Methylisothiazolinone (MI)</span>
			</p><div class="clearfix"></div>

			<!--<img src="img/battery.svg" class="icon-small" />--> <p class="m-bottom">
			<span class="bold desktop-none"><i class="fa fa-check" aria-hidden="true"></i>NO methylchloroiso (MCI)</span>
			<span class="bold mobile-none"><i class="fa fa-check" aria-hidden="true"></i>NO methylchloroisothiazolinone (MCI)</span>
			</p><div class="clearfix"></div>
			<!--<img src="img/battery.svg" class="icon-small" />--> <p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>NO Xylene</span></p><div class="clearfix"></div>

			<p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>NO Ethyl Acetate</span></p><div class="clearfix"></div>
			 <p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>NO Methylene Chloride</span></p><div class="clearfix"></div>
			 <p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>NO Glycol</span></p><div class="clearfix"></div>
			 <p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>NO Formaldehyde</span></p><div class="clearfix"></div>
			<!--<img src="img/bulb.svg" class="icon-small" />--> <p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>NO Benzene</span></p><div class="clearfix"></div>
			<!--<img src="img/bulb.svg" class="icon-small" />--> <p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>NO Phenol</span></p><div class="clearfix"></div>
			<!--<img src="img/bulb.svg" class="icon-small" />--> <p class="m-bottom">
			<span class="bold desktop-none"><i class="fa fa-check" aria-hidden="true"></i>NO Ammonium (MCI)</span>
			<span class="bold mobile-none"><i class="fa fa-check" aria-hidden="true"></i>NO Quaternary Ammonium</span>
			</p><div class="clearfix"></div>
			<!--<img src="img/bulb.svg" class="icon-small" />--> <p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>NO Carbamates</span></p><div class="clearfix"></div>
			<div class="mobile-none" style="margin-top: 35px;">
				<p class="m-bottom" style="margin-bottom: 20px !important;"><span class="bold">COMPATIBLE WITH:</span></p><div class="clearfix"></div>
				<p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>DRYWALL</span></p><div class="clearfix"></div>
				<p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>CERAMIC TILE</span></p><div class="clearfix"></div>
				<p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>STUCCO</span></p><div class="clearfix"></div>
				<p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>PLASTER</span></p><div class="clearfix"></div>
				<p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>CONCRETE</span></p><div class="clearfix"></div>
				<p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>STONE VENEER</span></p><div class="clearfix"></div>
				<p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>BRICK</span></p><div class="clearfix"></div>
				<p class="m-bottom"><span class="bold"><i class="fa fa-check" aria-hidden="true"></i>WOOD</span></p><div class="clearfix"></div>
			</div>
			
		</div><!-- / column -->

	</div><!-- / row -->
	
</div><!-- / container -->

<div class="container-fluid">

<div class="row">
<div class="center"> <div class="button col-sm-4 btn-buy-product" data-id="{{selected_variant.id}}">{{section.settings.btn_text}}</div></div>
</div>
	</div>

{% if section.settings.rated_text_header or section.settings.rated_text_content %}
 <style>
		.top-rated {
          background-color: {{ section.settings.rated_bg }};
        }


		.top-rated p{
			color: {{ section.settings.rated_text_bg }};
		}
    </style>
<div class="top-rated">

	<div class="container">

			<h1 class="text-center">{{section.settings.rated_text_header}}</h1>

			<p><span class="bold">{{section.settings.rated_text_content}}</span></p>
			
			<div class="col-sm-12 col-md-12">

				<div style="margin-top:10px;">
				<img id="gif_block_1" data-src="" class="col-sm-6 col-md-6" style="margin-bottom: 20px;" >
				<img id="gif_block_2" data-src="" class="col-sm-6 col-md-6" style="margin-bottom: 20px;" >

			</div>
		
			<div class="clearfix"> </div>

		</div><!-- / column -->
		
	</div><!-- / container -->

</div><!-- / top-rated -->

{% endif %}
</div>

<script>

 $(window).on('load',function(){
	$('#gif_block_1').attr('data-src',"https://media.giphy.com/media/KczUB1hQEG3OMYUeLK/giphy.gif");
	$('#gif_block_1').addClass('lazyload');

	$('#gif_block_2').attr('data-src',"https://media.giphy.com/media/llUD3Ml5CWwDmt93rH/giphy.gif");
	$('#gif_block_2').addClass('lazyload');
  });
  
  </script>

{% schema %}
{
  "name": "Product Features Info",
  "settings": [
  {
      "type": "text",
          "id": "pf_text_header",
          "label": "Product Feature Header Text",
          "default": "Product Feature Header Text"
    },
	 {
      "type": "text",
          "id": "pf_text_1",
          "label": "Product Feature Text 1",
          "default": "Product Feature Text 1"
    },
	{
      "type": "image_picker",
      "id": "pf_image",
      "label":"Block image"
    },
	{
      "type": "image_picker",
      "id": "pf_image2",
      "label":"Block image"
    },
	 {
      "type": "text",
          "id": "pf_list_header_1",
          "label": "List header 1",
          "default": "List header 1"
    },
	 {
      "type": "text",
          "id": "pf_list_text_1",
          "label": "List text 1",
          "default": "List text 1"
    },
	 {
      "type": "text",
          "id": "pf_list_header_2",
          "label": "List header 2",
          "default": "List header 2"
    },
	 {
      "type": "text",
          "id": "pf_list_text_2",
          "label": "List text 2",
          "default": "List text 2"
    },
	 {
      "type": "text",
          "id": "pf_list_header_3",
          "label": "List header 3",
          "default": "List header 3"
    },
	 {
      "type": "text",
          "id": "pf_list_text_3",
          "label": "List text 3",
          "default": "List text 3"
    },
	{
      "type": "color",
      "id": "pf_text_bg",
        "label": "Main Text color",
      "default": "#484848"
    },
	{
      "type": "color",
      "id": "pf_text_2_bg",
	  "label": "Sub block Text color",
      "default": "#494949"
    },
	{
      "type": "color",
      "id": "pf_bg",
	  "label": "Background",
      "default": "#fff"
    },
	{
      "type": "color",
      "id": "pf_sub_bg",
	  "label": "Sub block Background",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "rated_text_header",
          "label": "Top Rated Header Text",
          "default": "Top Rated Header Text"
    },
	{
      "type": "text",
          "id": "rated_text_content",
          "label": "Top RatedContent Text",
          "default": "Top Rated Content Text"
    },
    {
      "type": "color",
      "id": "rated_bg",
      "label": "Top Rated Bar",
      "default": "#eee"
    },
    {
      "type": "color",
      "id": "rated_text_bg",
      "label": "Top Rated Text color",
      "default": "#494949"
    },
	{
      "type": "color",
      "id": "btn_bg",
	  "label": "Button color",
      "default": "#3567e7"
    },
	{
      "type": "color",
      "id": "btn_text_bg",
	  "label": "Button text color",
      "default": "#fff"
    },
	{
      "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Button Text"
    },
    {
      "type": "color",
      "id": "underline_bg",
      "label": "Underline bar color",
      "default": "#3567e7"
    }
  ]
}
{% endschema %}
