 <style>

		#shopify-section-{{section.id}} p 
		{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 17px;
			font-weight: 400;
			color: #646F89;
		}
		
		#shopify-section-{{section.id}} a,
		#shopify-section-{{section.id}} h4 {
			color: {{ section.settings.text_bg }};
			font-weight: 600;
			font-size: 20px;
			
		}
		


		
		#shopify-section-{{section.id}} .color--bg {
          background: {{ section.settings.section_bg }};
        }
		

    </style>
<section class="questions-product faq" >

<div class="container">
<h1 class="text-center details-heading">FAQS</h1>
<div id="shopify-section-page-faq-template" class="private-policy shopify-section faq-section">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                   
                  
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">Is SafeMend™ available in different colors?</a></h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body mx-3">
                               <p>SafeMend is only available in standard white and blends perfectly with all the standard shades of white paint. Luckily there’s no need for different colors because once SafeMend is applied it can be painted over with any color!</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">Is SafeMend™ the right choice for my wall or ceiling?</a></h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body mx-3">
                                <p>SafeMend is specially formulated to ensure it is compatible with any type of walls or ceilings. Just to name a few it is compatible with: <strong>Drywall, Ceramic Tile, Stucco, Plaster, Concrete, Stone Veneer, Brick, Wood.</strong> In the extreme rare event SafeMend  does not work, we offer a money back guarantee NO QUESTIONS ASKED! Yup that’s how confident we are!</p>
                            </div>
                        </div>
                    </div>
                  
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">How is SafeMend™ different from any other mending agent on the market?</a></h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body mx-3">
                                <p>SafeMend has a unique texture that is meant to be more flexible, durable, resilient, heat-resistant (up to 600F) and 100% waterproof not to mention 100% non-toxic. Once dry, it’s sturdy enough to hold a nail or screw. The repair will be virtually invisible and give a professional look. The best part is it’s 100% safe.</p>
                            </div>
                        </div>
                    </div>
					
					    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title heading text-to-upper"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">What’re the ingredients and is it cruelty free?</a></h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body mx-3">
                                <p>Great question! It is a special formulation of wall glue, resin and carbonate cover that is 100% non-toxic and completely safe to use. It’s carefully formulated to be 100% waterproof, mold proof, non-corrosive, non-toxic, cruelty free, perfectly safe for kids, pets and chemically-sensitive individuals.</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
</div>
</div>

</section>

{% schema %}
{
  "name": "Inline info 2",
  "settings": [

    {
      "type": "color",
      "id": "section_bg",
      "label": "Bar",
      "default": "#212121"
    },
	{
      "type": "image_picker",
      "id": "image_block",
      "label":"Main image"
    },
	{
      "type": "image_picker",
      "id": "image_block_2",
      "label":"Main image 2"
    },
    {
      "type": "color",
      "id": "text_bg",
      "label": "Text color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
