

div#shopify-section-article-safemend {
    margin-top: 100px;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#shopify-section-article-safemend h1 {}
#shopify-section-article-safemend h2 {}
#shopify-section-article-safemend h3 {}
#shopify-section-article-safemend h4 {}
#shopify-section-article-safemend h5 {}
#shopify-section-article-safemend h5 {}

#shopify-section-article-safemend p {padding: 5px 0 20px 0;}
#shopify-section-article-safemend ul, ol {padding: 21px 30px 20px 45px;}
#shopify-section-article-washwarrior li {}

#shopify-section-article-safemend .imgleft {float: left;margin: 15px 20px 0px 0px;}
#shopify-section-article-safemend .imgright {float: right;margin: 15px 0px 0px 20px;}


div#shopify-section-article-safemend p 
{
  font-size:20px!important;
}

div#shopify-section-article-safemend p span 
{
  font-size:20px!important;
}
div#shopify-section-article-safemend
.buy-button {
    padding: 15px 30px 14px 30px!important;
    display: inline-block!important;
    margin: 10px 0 25px 0!important;
        margin-top: 10px!important;
    background-color: #00953d!important;
    border: 1px solid #00953d!important;
    font-family: 'Open Sans',helvetica,sans-serif!important;
    font-size: 1em!important;
    color: #fff!important;
    cursor: pointer!important;
    font-weight: 700!important;
    letter-spacing: 1.5px!important;
    text-transform: uppercase!important;
    text-align: center!important;
    -webkit-transition: all .3s ease 0s!important;
    -moz-transition: all .3s ease 0s!important;
    -o-transition: all .3s ease 0s!important;
    -ms-transition: all .3s ease 0s!important;
    -webkit-box-shadow: 4px 6px 22px -2px rgba(0,0,0,.64)!important;
    -moz-box-shadow: 4px 6px 22px -2px rgba(0,0,0,.64)!important;
    box-shadow: 4px 8px 22px -2px rgba(0,0,0,.64)!important;
  
}
div#shopify-section-article-template
.buy-button {
    padding: 15px 30px 14px 30px!important;
    display: inline-block!important;
    margin: 10px 0 25px 0!important;
        margin-top: 10px!important;
    background-color: #00953d!important;
    border: 1px solid #00953d!important;
    font-family: 'Open Sans',helvetica,sans-serif!important;
    font-size: 1em!important;
    color: #fff!important;
    cursor: pointer!important;
    font-weight: 700!important;
    letter-spacing: 1.5px!important;
    text-transform: uppercase!important;
    text-align: center!important;
    -webkit-transition: all .3s ease 0s!important;
    -moz-transition: all .3s ease 0s!important;
    -o-transition: all .3s ease 0s!important;
    -ms-transition: all .3s ease 0s!important;
    -webkit-box-shadow: 4px 6px 22px -2px rgba(0,0,0,.64)!important;
    -moz-box-shadow: 4px 6px 22px -2px rgba(0,0,0,.64)!important;
    box-shadow: 4px 8px 22px -2px rgba(0,0,0,.64)!important;
  
}

div#shopify-section-article-template p .buy-button {
    padding: 15px 30px 14px 30px!important;
    display: inline-block!important;
    margin: 10px 0 25px 0!important;
        margin-top: 10px!important;
    background-color: #00953d!important;
    border: 1px solid #00953d!important;
    font-family: 'Open Sans',helvetica,sans-serif!important;
    font-size: 1em!important;
    color: #fff!important;
    cursor: pointer!important;
    font-weight: 700!important;
    letter-spacing: 1.5px!important;
    text-transform: uppercase!important;
    text-align: center!important;
    -webkit-transition: all .3s ease 0s!important;
    -moz-transition: all .3s ease 0s!important;
    -o-transition: all .3s ease 0s!important;
    -ms-transition: all .3s ease 0s!important;
    -webkit-box-shadow: 4px 6px 22px -2px rgba(0,0,0,.64)!important;
    -moz-box-shadow: 4px 6px 22px -2px rgba(0,0,0,.64)!important;
    box-shadow: 4px 8px 22px -2px rgba(0,0,0,.64)!important;
  
}










.t-blog-sec
{
  background-image: url(https://ci4.googleusercontent.com/proxy/mxmi95G2pAViCzLF_k5FjydoKut24s6aj-R0UzSM9mp97eAz5jGvMyHi5BQzJfxbwQklL21mHiErL1LEKz9Ja4uwnRGxHa2VmKmZh4NxnEm6CAdDpWJKuPOi5kVE3mrHmIe1bgKdejlkDqlMZWC9GdBdnoJGLQU=s0-d-e1-ft#https://d3k81ch9hvuctc.cloudfront.net/company/V68PyR/images/8d794247-7b91-494f-82d6-23bfff8bff33.png);
 }
.side-bar
{
  display: flex;
  
  max-width:1200px;
  margin: 0 auto;
}
.side-bar-1
{
  width:70%;
  max-width:800px;
}
.side-bar-2
{
  width:40%;
  padding: 23px 20px 20px 20px;
  max-width:400px;
}
.side-bar-in
{
  background-color: white;
}
.side-bar-in p
{
  font-size:16px;
}
.side-bar-article-img
{
  width:40%;
}
.side-bar-article-img img
{
  width:100%;
}

@media (max-width: 787px) {
  

 .side-bar-1 {
      width: 100%;
   }
  .side-bar-2 {
  display: none;
}
  .t-side-bar-2 {
  display: none;
}
}


.t-side-bar-2
{
  width:40%;
  padding: 100px 20px 20px 20px;
  max-width:400px;
}

 .m_-2821678878801875308templateContainer
{
  width:100%!important;
}

div#shopify-section-article-safemend.blog-width
{
  background-color: #fff!important;
  border: 0 solid #00953d!important;
  border-radius: 0!important;
  display: table!important;
  width: 100%!important;
}