@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@font-face {
    font-family: "DIN Next";
    font-weight: 500;
    font-style: normal;
	font-display: swap;
    font-display:fallback;src: url("https://fonts.shopifycdn.com/din_next/dinnext_n5.9de62f474792d83a5c7487ba13c73b05f03f03c7.woff2?h1=c2F2aW5zcHJlZS5jb20&hmac=60cf98884df092cd6b5cc3dc8f612acc88ea7a14c079fb0ae7e4f3d306eba1df") format("woff2"),url("https://fonts.shopifycdn.com/din_next/dinnext_n5.780618dec464e6222d24888730ca26e0ca6ad6af.woff?h1=c2F2aW5zcHJlZS5jb20&hmac=8fe242d51e8a7165aaed1e4921465ac7cedb681fde6a0873b9b3743d485725de") format("woff")
}

@font-face {
    font-family: "DIN Next";
    font-weight: 400;
    font-style: normal;
	font-display: swap;
    font-display:fallback;src: url("https://fonts.shopifycdn.com/din_next/dinnext_n4.438c249fdbceeefafa64221353c5ece2fdb8ae14.woff2?h1=c2F2aW5zcHJlZS5jb20&hmac=c7fa7e1f37bef4aaefeb7aaa1b70566a649c9530ae7c7bb5f129f7d6435a67e3") format("woff2"),url("https://fonts.shopifycdn.com/din_next/dinnext_n4.ba1a214c52f07ec250a5179209eb84e73639e1c9.woff?h1=c2F2aW5zcHJlZS5jb20&hmac=c97261246b00ca4292557bb1da3c53c27d575aad3e0d71bf64b0fc3d52a2332b") format("woff")
}

@font-face {
    font-family: "DIN Next";
    font-weight: 500;
    font-style: normal;
	font-display: swap;
    font-display:fallback;src: url("https://fonts.shopifycdn.com/din_next/dinnext_n5.9de62f474792d83a5c7487ba13c73b05f03f03c7.woff2?h1=c2F2aW5zcHJlZS5jb20&hmac=60cf98884df092cd6b5cc3dc8f612acc88ea7a14c079fb0ae7e4f3d306eba1df") format("woff2"),url("https://fonts.shopifycdn.com/din_next/dinnext_n5.780618dec464e6222d24888730ca26e0ca6ad6af.woff?h1=c2F2aW5zcHJlZS5jb20&hmac=8fe242d51e8a7165aaed1e4921465ac7cedb681fde6a0873b9b3743d485725de") format("woff")
}

@font-face {
    font-family: "DIN Next";
    font-weight: 700;
    font-style: normal;
	font-display: swap;
    font-display:fallback;src: url("https://fonts.shopifycdn.com/din_next/dinnext_n7.57888b0b2051a4dba7d02aad7ca64db99eca3cf1.woff2?h1=c2F2aW5zcHJlZS5jb20&hmac=f98e55810c1cfc31c17ee182fcdb4759b0d3e44c3647b5ebda57afa0247a2825") format("woff2"),url("https://fonts.shopifycdn.com/din_next/dinnext_n7.8ca52ee0f403ce0c89c90387f16284e4637c1b10.woff?h1=c2F2aW5zcHJlZS5jb20&hmac=2e5a0d73af7585cba5503ee712eb216b2d22daa6fbc80996da173c6dc6638d84") format("woff")
}

@font-face {
    font-family: "DIN Next";
    font-weight: 400;
    font-style: italic;
	font-display: swap;
    font-display:fallback;src: url("https://fonts.shopifycdn.com/din_next/dinnext_i4.61ded265c0c537a08a3ef6c1f78e76a5f3be91c9.woff2?h1=c2F2aW5zcHJlZS5jb20&hmac=091f801eb11a98728d2f233b7ad6958fbec0c1b0b02efc0cd8552ff2c3775ae9") format("woff2"),url("https://fonts.shopifycdn.com/din_next/dinnext_i4.09dd19acb435d364f8a7263a588c573108d49efc.woff?h1=c2F2aW5zcHJlZS5jb20&hmac=2dfb684489d85da0d3cb9540e77473b8fe264cfd302bb79afc68f354409d4f59") format("woff")
}

@font-face {
    font-family: "DIN Next";
    font-weight: 700;
    font-style: italic;
	font-display: swap;
    font-display:fallback;src: url("https://fonts.shopifycdn.com/din_next/dinnext_i7.3e0968fa491d382704988ea5c9fc6209193f03d0.woff2?h1=c2F2aW5zcHJlZS5jb20&hmac=f878b7a4a69d197790230a9e561786a629433a5e2fc67a05920351c3ae9d732c") format("woff2"),url("https://fonts.shopifycdn.com/din_next/dinnext_i7.28611b7c75be07249f4251b10e48a8d9f8dbf8ba.woff?h1=c2F2aW5zcHJlZS5jb20&hmac=ac6223351a1e7a80ab0d64e4a49235872a9cd6c3c746e81fcf91107fc085d647") format("woff")
}

/**
 * Also used by Shopify checkout.liquid on path au.koala.com/font.css
 */

@font-face {
  font-display: swap;
  font-family: Museo Sans;
  font-weight: 700;
  

	  src: url("{{ '4UJtgTaFkh.woff2' | asset_url }}") format('woff2'),
    url("{{ '4UJtgTaFkh.woff' | asset_url }}") format('woff');
}

@font-face {
  font-display: swap;
  font-family: Museo Sans;
  font-weight: 100;

	  src: url("{{ 'Vr2WkXtJD5.woff2' | asset_url }}") format('woff2'),
    url("{{ 'Vr2WkXtJD5.woff' | asset_url }}") format('woff');
}

@font-face {
  font-display: swap;
  font-family: Museo Sans;
  font-weight: 300;

	  src: url("{{ 'R8WQVLgyeF.woff2' | asset_url }}") format('woff2'),
    url("{{ 'R8WQVLgyeF.woff' | asset_url }}") format('woff');
}

@font-face {
  font-display: swap;
  font-family: Museo Sans;
  font-weight: 500;

	  src: url("{{ 'museo-sans-500.woff2' | asset_url }}") format('woff2'),
    url("{{ 'museo-sans-500.woff' | asset_url }}") format('woff');
}

@font-face {
  font-display: swap;
  font-family: Brandon Grotesque;
  font-weight: 100;

	  src: url("{{ '5HwsiViZTU.woff2' | asset_url }}") format('woff2'),
    url("{{ '5HwsiViZTU.woff' | asset_url }}") format('woff');
}

@font-face {
  font-display: swap;
  font-family: Brandon Grotesque;

		  src: url("{{ '3FlHlJNDHJ.woff2' | asset_url }}") format('woff2'),
    url("{{ '3FlHlJNDHJ.woff' | asset_url }}") format('woff');
}

@font-face {
  font-display: swap;
  font-family: Brandon Grotesque;
  font-weight: 600;

	  src: url("{{ 'YRbjYUTv23.woff2' | asset_url }}") format('woff2'),
    url("{{ 'YRbjYUTv23.woff' | asset_url }}") format('woff');
}

@font-face {
  font-display: swap;
  font-family: Brandon Grotesque;
  font-weight: 900;
  src: url("{{ 'sXKprQyQw9.woff2' | asset_url }}") format('woff2'),
    url("{{ 'sXKprQyQw9.woff' | asset_url }}") format('woff');
}



* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Open Sans', helvetica, sans-serif;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: #ef4435;
  font-weight:400;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

.center{
  text-align: center;
  margin: 0 auto;
}

.np{
  padding: 0!important;
}

.button {
  padding: 15px 30px 14px 30px;
  display: inline-block;
  margin: 10px 0 25px 0;
   background-color: #00953d;
   border: 1px solid #00953d;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
   -webkit-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.64);
    -moz-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.64);
    box-shadow: 4px 8px 22px -2px rgba(0,0,0,0.64);
}


.button:hover, .button:focus {
  background-color: #ff9941 !important;
  border-color: #ff9941 !important;
  color: #fff !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  outline: none!important;
}

/*-------------------------------------
Section 1: Header Area / Above the Fold
--------------------------------------*/

/* Logo / Top Bar */

.top-bar{
  padding: 20px 0 18px 0;
    background: #0fa8ea;
    width: 100%;
    
    &.sticky {
      position: fixed !important;
      top: 0 !important;
      z-index: 10000000001;
    }

}

.promo_banner {
  z-index: 10000000001;
  position: absolute;
  width: 100%;
}

.announcement-message-text {
  margin: 0;
}

.top-bar p{
  font-family: 'Open Sans', helvetica, sans-serif;
  color: #a3a3a3;
  font-size: 1.1em;
  text-align: right;
  margin-top: 23px;
  text-transform: uppercase;
  margin-right: 100px;
  font-weight: 700;
}

.logo{
  max-width: 160px;
}

ul.social-buttons {
  list-style: none;
  float: right;
   margin-top: -40px;
   }

ul.social-buttons li {
  display: inline-block;
  margin-right: 5px;
  }

ul.social-buttons li:last-child {
  margin-right: 0;
  }

  ul.social-buttons li a{
  color: #fff!important;
  }


.social-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  background: #3567e7;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
    -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  }

.social-btn:hover, .social-btn:focus {
  background: #1c3a88;
  color: #fff;
    -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  }


/* Header Image */

.header-bg{
  background: url(../img/header-bg.jpg) no-repeat right center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.header-bg h1{
  margin: 35px 0 0 0;
  text-transform: uppercase;
  line-height: 120%;
  font-weight: 800;
	color: #333333;
	font-family: Brandon Grotesque,sans-serif;
	font-weight: bold;
	letter-spacing: .0625em;
	font-size: 30px;

}


.header-bg h3{
  font-size: 1.15em;
  letter-spacing: 0.5px;
  color: #fff;
  line-height: 140%;
  margin: 10px 0 20px 0;
  font-weight: 700;
}

.header-bg h4{
  color: #fff;
  font-size: 1.2em;
   font-family: 'Open Sans', helvetica, sans-serif;
   margin: 0 0 15px 0;
   padding-top: 5px;
   font-weight: 700;
}

.header-bg h4 span{
  color: #fec92f;
}


.checkmark{
  float: left;
 width: 30px;
  margin: 0px 10px 0px 3px;
}


.header-bg p{
  color: #fff;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 1.2em;
   margin: 0px 0 25px 0;
   padding-top: 5px;
   font-weight: 700;
}

.header-bg p span{
  font-family: 'Open Sans', helvetica, sans-serif;
  color: #fec92f;
  font-weight: 700;
}

.redbar{
  max-height: 3px!important;
  width: 90px!important;
  margin: 15px 0 30px 0;
  background: #3567e7;
}

.product1{
  float: right;
  margin-top: 30px;
  margin-bottom: 40px;
}


.cta-bar{
  background: #212121;
  text-align: center;
  color: #fff;
  padding: 15px 0 5px 0;
  position: relative;
  z-index: 5;
}

.cta-bar p{
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.cta-bar p span{
  text-transform: uppercase;
}


/*----------------------------------
Section 2: Product Summary / Details
-----------------------------------*/


/* Icon Features*/

.three-features{
  padding:20px 0;
}

.icon{
  float: left;
 width: 80px;
  margin: 10px 15px 60px 0;
}

.three-features h3{
   font-family: 'Open Sans', helvetica, sans-serif;
   color: #3567e7;
   font-weight: 800;
}

.three-features p{
  font-size: 1em;
  line-height: 150%;
}


/* Product Features */

.product-features{
  padding: 40px 0 0 0;
}

.product-features h1{
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px!important;
  line-height: 120%;
  color: #333333;
	font-family: Brandon Grotesque,sans-serif;
	font-weight: bold;
	letter-spacing: .0625em;
	font-size: 30px;
}

.product-features h2{
  color: #7533bc;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0px;
}

.product-features h3{
  color: #484848;
  letter-spacing: 0.5px;
  font-size: 1.3em;
  line-height: 130%;
  margin-bottom: 40px;
}

.product-features p{
  color: #5f5f5f;
  letter-spacing: 1px;
  line-height: 160%;
  margin-bottom: 15px;
}


.bordered{
  border: 1px solid #bababa;
}

.darkbg{
 background: #eeeeee;
  padding: 15px 40px 23px 40px!important;
  min-height: 380px!important;
}

.darkbg h2{
  color: #494949;
  margin-top: 10px;
  font-size: 2.4em;
}



.darkbg h2 span{
color: #fee734;
}

.darkbg h4{
  color: #484848;
  font-size: 1.1em;
  font-weight: 700;
}

.darkbg h4 span{
  color: #3567e7;
}

.darkbg p{
  color: #494949;
  font-size: 1em;
  margin-bottom: 30px!important;
}

.darkbg p span{
  text-transform: uppercase;
  font-size: 1.1em;
}

.m-bottom{
  margin-bottom: 25px!important;
}

.uppercase{
  text-transform: uppercase;
}

.icon-small{
 max-width: 60px!important;
 margin-bottom: 30px;
 float: left;
}

.top-rated{
  background: #eee;
  margin-top: 40px;
    padding: 20px 0;
}

.top-rated h1, h1, h2{

  text-transform: uppercase;
  color: #333333;
	font-family: Brandon Grotesque,sans-serif;
	font-weight: bold;
	letter-spacing: .0625em;
	font-size: 30px;

}

.top-rated p{
  color: #494949;
  font-size: 1em;
  line-height: 170%;
}

.top-rated p span{
 text-transform: uppercase;
}

.flt-left{
  float: left;
  max-width:48%;
  margin-right: 1%;
}

/*---------------------------------------
Section 3: Customer Reviews/ Testimonials
----------------------------------------*/

.review-bg{
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0 10px 0;
}

.review-bg h1{

  text-transform: uppercase;

  text-align: center;
  color: #333333;
	font-family: Brandon Grotesque,sans-serif;
	font-weight: bold;
	letter-spacing: .0625em;
	font-size: 30px;
}

.review-bg h3{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5em;
}

.redbar-center{
  max-height: 3px!important;
  width: 110px!important;
  margin: 25px auto  5px auto;
  background: #3567e7;
}

.review-big{
  color: #222;
  text-align: center;
  font-size: 1.4em!important;
  letter-spacing: 1px!important;
  line-height: 180%;
  font-weight: 400!important;
}

.review-bg p{
  text-align: center;
  color: #222;
  font-size: 1.3em;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

.reviews{
  padding: 40px 0;
}

.stars{
  color: #fab73b;
  font-size: 1.5em;
  margin-top: -12px;
}

.yellow-stars{
  color: #fab73b;
  font-size: 1.4em;
}

.grey-stars{
  color: #ddd;
}

.rating{
  font-size: 4.2em;
  margin-top: 10px;
  font-weight: 600;

}

.average{
  color: #898989;
  letter-spacing: 0.5px;
  font-size: 1.2em;
  margin-top: 5px;
}

.percentage{
  color: #3f3f3f;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 0.8em!important;
  font-weight: 700;
}

.percentage-inactive{
  color: #ddd;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 0.8em!important;
  font-weight: 700;
}

.review-container{
 margin-left: 70px;
}

.review{
  color: #898989;
  letter-spacing: 0.5px;
  font-size: 1.1em;
  line-height: 180%;
}

.author{
  color: #000;
  font-size: 1.2em;
  font-weight: 600;
}

.progress {
  height: 12px!important;
  border-radius: 10px!important;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 8px 15px 25px -20px!important;
}

.progress-bar{
  background: #fab73b!important;
}


.bold{
    font-weight: 700;
}


/*---------------------------------
Section 4: Product Summary / Footer
----------------------------------*/


.summary{
   background: url(../img/bottom-bg.jpg) no-repeat right center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;

}

.summary h2{
  color: #fff;
  margin-top: 40px;
  font-size: 2.8em;
  text-transform: uppercase;
  line-height: 120%;
  padding-left: 20px;
  font-weight: 800;
}



.summary h3{
  padding-left: 20px;
  font-size: 1.4em;
  margin-bottom: 20px;
}

.summary p{
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 19px;
  padding-top: 5px;
  font-weight: 700;
}

.summary p span{
  color: #fec92f;
}

.bottom-product{
  /* max-width: 400px; */
  /* float: right; */
  /* margin-top: -300px; */
  margin-top: 30px;
}

.desc{
  margin-top: -20px!important;
  padding: 0 20px 20px 20px;
}

.p-left{
  padding-left: 20px;
}

.m-top{
  margin-top: 30px;
}

.logo-outline{
  max-width: 400px;
  margin-top: 30px;
}

/* Footer */


.footer{
 padding: 51px 0 20px;
  background: #fff;
}

.footer p{
  font-size: 0.9em;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
}

.footer a{
  color: #fff;
  font-weight: 600;
}

.footer a:hover{
  color: #fff;
}

.footer li {
    margin-bottom: 0.25em;
}



.page-content{
  min-height: 450px;
}



/* Media Queries */

.desktop-none{
  display: none;
}

.mobile-only{
  display: none;
}


@media (max-width: 1199px) {

.container{
  width: 1040px!important;
}

.top-bar p{
  font-size: 0.9em;
}

.checkmark{
  margin-bottom: 20px;
}

.header-bg h1{
  margin: 30px 0 0 0;
}

.header-bg h3{
  font-size: 1.4em;
}

.header-bg p{
  font-size: 1.1em;
}

.product1{
  max-width: 250px;
  margin-left: 4px!important;
}

.darkbg p{
  font-size: 0.9em;
  margin-bottom: 14px;
}

.darkbg h4{
  font-size: 1em;
}

.darkbg{
  min-height: 405px!important;
}

.three-features h3{
  font-size: 1.4em;
}

.product-features h2{
  font-size: 2em;
}


.darkbg h2{
font-size: 1.8em;
}

.summary p{
  font-size: 1.05em;
}

.desc{
  margin-top: -25px!important;
  padding-bottom: 5px;
}

.review-big{
  font-size: 1.2em!important;
}



}

@media(max-width: 1024px){
.container{
  width: 980px!important;
  max-width: 100%!important;
}

.darkbg h2{
  font-size: 1.6em;
}

.darkbg p{
  font-size: 0.9em;
}

.darkbg{
  min-height: 304px!important;
}

.header-bg{
  background: url(../img/mobile-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


}

@media (max-width: 991px) {

  .mobile-none{
  display: none;
}



.desktop-none{
  display: block;
}

.desktop-only{
  display: none;
}

.tablet-right{
  float: right;
  margin-top: -40px;
  max-width: 40%;
}

.header-bg p{
   margin: 0px 0 5px 0!important;
   padding-top: 2px;
}


.cta-bar{
  margin-top: 0!important;
}


.description{
  margin-left: 5px!important;
}

.header-bg p{
  font-size: 1.13em;
  margin-bottom: 20px!important;
}


.darkbg p{
  font-size: 1em;
}

  .container{
  padding-left: 35px!important;
  padding-right: 35px!important;
}



.rating{
  margin-left: 20px;
}


.icon{
  float: left;
 width: 50px;
  margin: 10px 15px 100px 0;
}


.col-lg-8{
  padding: 0 20px!important;
}

.review-bg{
  padding: 50px 0 40px 0;
}

.review-bg h3{
  font-size: 1.3em;
}

.flt-left{
  float: left;
}

.darkbg{
  min-height:330px!important;
}

.feature-badge{
  float: right;
  margin-top: -150px;
  max-width: 120px;
}


.product{
  margin: 0 auto 20px auto!important;
}

.product1{
  display: none;
}

.header-bg h1{
  padding-left: 0;
}

.header-bg h3{
  padding-left: 0;
  font-size: 1.25em;
}

.header-bg p{
  padding-left: 0;
}


.checkmark{
 max-width: 20px!important;
}

.darkbg h2{
  padding: 20px 0;
  font-size: 2.2em!important;
}

.darkbg h4{
  padding-left: 0;
}

.darkbg{
  padding: 30px 40px!important;
}

.icon{
  margin-left: -10px!important;
}

.product3{
  max-width: 400px;
}

.product-features h2{
  font-size: 1.6em;
}

.tile-bg{
  padding: 20px;
}

.mleft{
  padding-left: 20px;
  margin-left: 15px;
}


}

@media (max-width: 875px) {

.col-sm-4{
  width: 100%!important;
  max-width:100!important;
}

.icon{
  float: left;
 width: 80px;
  margin: 0px 15px 40px 0;
}

.bottom-product{
  max-width: 290px;
  margin-right: 20px;
  float: left;
}




}

@media (max-width: 837px) {



.product-features h2{
  font-size: 1.6em;
}

}

.variants-block {
    background-color: white;
   
    border-radius: 5px;
    padding: 20px;
	padding-top:40px;
}

.variants-block .title{ 
    font-size: 18px;
    margin: 0;
    text-align: left;
    margin: 20px 0 8px 0;
}

 .variants-block .item{
    margin-top: 10px;
    min-height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    line-height: 140%;
}

@media (max-width: 880px) {
	.small-devices-hidden{
		display: none !important;
	}
	

	
	.top-bar .mr-4,
	.top-bar .mx-4 {
		margin-right: 0 !important;
	}
	
	.contact-block{
		padding-left: 0;
		padding-right: 0;
	}
	
	.top-bar .icon--bi-phone{
		margin-right: 0 !important;
		margin-left: 7px !important;
	}
}

@media (max-width: 767px) {
	
	.variants-block .container{
		padding-top: 5px !important;
		padding-bottom: 5px !important
	}
	
	 .variants-block .item{
    margin-top: 10px;
}
	
	.variants-block .title{ 
		margin-top:5px;
	}
	
	.variants-block .title h2{ 
		font-size: 26px;
			margin-top:5px;
	}

.variants-block{
	padding-top: 20px;
}

.mobile-none{
  display: none;
}

.mobile-only{
  display: block;
}

.tablet-right{
  float: none;
  max-width: 70%;
}


.tile-bg{
  padding: 20px 5px;
}

.mobile-product{
  max-width: 50%;
}
.review-big{
  font-size: 1.3em!important;
}


.product-features h3{
  margin-bottom: 20px;
}


  .share{
  display: none;
}

.m-top{
  margin-top:5px;
}

.summary h2{
  margin-top: 30px;
}
.feature-inv{
  margin-top: -180px;
}

.feature2{
  margin-right: 130px;
}

.top-rated{
  padding-bottom: 0!important;
}

.top-rated h1, h1, h2 {
  padding: 0;
  margin-top: 40px;
}

.top-rated p{
  font-size: 1.1em;
  margin-top: 10px;
}

.orangebar{
  margin-left: 0;
}

.feature-badge{
  float: none;
  margin-top: -0px;
  max-width: 140px;
}

.product-features h3{
margin-right: 0;
  }

  .flt-left{
  float: none;
  margin-bottom: 20px!important;
}


}



@media (max-width: 600px) {

  

.header-bg h1{
  margin-top: 15px!important;
  padding-left: 0;
}

.header-bg h3{
  margin-top: 30px;
  font-size: 1.4em;
  padding-left: 0;
}

.header-bg p{
  font-size: 1.1em;
  font-weight: 400;
  padding-left: 0;
}


.m-left{
  margin-left: 20px;
}

.checkmark{
  margin-left: 10px;
}

.cta-bar p{
  font-size: 1.1em;
}

.darkbg p{
  font-size: 1em;
  margin-bottom: 18px;
}

.tile-bg{
  padding: 20px 5px 0px 5px;
  min-height: 340px;
}

.flt-left{
  float: none;
  margin-bottom: 20px!important;
}

.mobile-product{
  max-width: 90%;
}

.social-buttons{
  display: none;
}

.mobile-np{
  padding-left: 0!important;
}

.m-bottom{
  margin-bottom: 15px!important;
}


}


  /* Mobile Devices */

@media (max-width: 460px) {

p{
  font-size: 1em;
  font-weight: 400;
}
.top-bar{
padding: 0!important;
max-height: 112px!important;
  }

 .logo{
   
	max-width: 150px;
 }

.tablet-right{
  float: none;
  max-width: 100%;
}

.phone{
  display: block;
  max-width: 180px;
  margin: 0 auto;
  margin-bottom: -10px;
}

.header-bg{
  padding-bottom: 0;
}

.header-bg h3{
  font-size: 1.2em;
  margin-top: 10px;
}

.mobile-product{
  max-width: 100%;
}

.container{
  padding: 15px!important;
}

.icon{max-width: 60px;}

.icon-sm{max-width: 40px;}


.button {
  padding: 15px 0;
  display: inline-block;
    width: 96%;
  font-size: 1.1em;
}

.product-form__payment-container .button{
 width: 100%;
 margin: 15px 0 10px 0;
 transition: bottom .3s ease;

 &.lp-backbutton {
   width: calc(100% - 88px);
   margin: 0;
 }
}

.product-form__payment-container {
    display: flex;
    flex-direction: column;
}



.reviews{
  padding: 10px 0;
}

.header-bg h1 {
  margin-top: -20px;
}

.header-bg h4{
font-size: 1.1em;
margin-top: 20px;
line-height: 130%;
  }

.header-bg p{
  font-size: 1.15em!important;
  margin-bottom: 10px!important;
  font-weight: 700;
}

.checkmark{
 max-width: 40px;
 margin-bottom: 20px;
}

.icon-small{
 max-width: 60px!important;
 margin-bottom: 75px;
}

.footer p{
  font-size: 0.85em!important;
  letter-spacing: 0px;
  }

  .footer{
    padding: 5px 0 0 0;
  }

  .review-bg{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15px 10px 10px 10px;
}

.review-bg h3{
  font-size: 1.1em;
}

.review-big{
  font-size: 1.1em!important;
}

.rating{
  margin-left: 25px;
}

.author{
  margin-top: -20px;
}


.cta-bar {
  padding: 5px 0 0 0;
}

.cta-bar p{
  font-size: 1em;
  margin-bottom: 0;
}


.product-features h1{
margin-bottom: 10px!important;
  }

 .product-features h2{
font-size: 1.1em;
line-height: 120%;
  }

    .product-features h3{
font-size: 1.1em;
  }

.summary h2{
 font-size: 2.6em;
}

.summary p{
  font-size: 1.15em;
}

.top-rated h1, h1, h2 {
  padding: 0 15px;
  margin-top: 10px!important;
}

.summary h3{
  font-size: 1.2em;
}

.top-rated p{
  font-size: 1em;
  padding: 0 15px;
  margin-top: 10px;
}

.top-rated{
  padding: 10px 0!important;
  margin: 30px 0 0 0;
}

.three-features p{
  font-size: 1em;
}

.review{
  font-size: 0.95em;
}

.three-features{
  padding: 1px 0 0 0;
}

.darkbg{
  padding: 20px 25px!important;
  margin-bottom: 0px!important;
}



.product-features h1, .product-features h2, .product-features h3{
  padding: 0 20px;
}

.product-features{
  padding: 0;
}

.redbar{
  margin-left: 15px;
}


.check2{
  margin-bottom: 40px!important;
}

.social-buttons{
  display: none;
}


.darkbg h2{
  padding-left: 0!important;
  font-size: 1.8em!important;
}

.darkbg h4{
  font-size: 1.1em;
}



.feature2{
  float: right!important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.three-features h3{
  font-size: 1.4em;
}

.bottom-product1{
  display: none;
}

.darkbg, .bordered{
  margin: 0;
}

.bordered{
  max-width: 96%;
}

}


/* iPhones */
@media (max-width: 375px) {


.container{
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.icon{
  margin-bottom: 30px;
}


.three-features p{
  font-size: 0.9em;
}

.cta-bar p{
  font-size: 0.85em;
}

.cta-bar {
  padding: 2px 0 0 0;
}



}


/*iPhone 5 */
@media (max-width: 360px) {

.container{
  padding-left: 5px!important;
  padding-right: 5px!important;
}

.header-bg h3{
  font-size: 1.2em;
}

.button{
  font-size: 1em;
}

}


/*----------------Variants selector------------------*/


.variants-block-header{
    width: 100%;
    display: flex;
    align-items: center;
}

.variants-block-sell-animation{
    width: 100px;
    height: 100px;
    background-color: #c91f3f;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 22px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 110%;
}

.variants-block-sell-animation .circle-animation{ 
    width: 84px;
    height: 84px;
    border: 2px dashed white;
    position: absolute;
    border-radius: 100%;

}

.variants-block .content-block{ 
    flex: 1;
	padding-left: 27px;
    padding-right: 17px;
}

.variants-block .h3{ 
    font-weight:bold;
}



.variants-block .hr{ 
height: 2px;
    background-color: whitesmoke;
}



 .variants-block .item-title{
   flex: 1;
    margin: 0 17.6px;
    text-align: left;
	font-size: 17px;
    z-index: 1;
	margin-left:0;
}
.variants-block .item-price{
    flex: 0.5;
    text-align: right;
    z-index: 1;
	font-size: 17px;
}
/* .most-popular-badge:before { */
    /* content: ""; */
    /* top: -8.8px; */
    /* left: -8.8px; */
    /* position: absolute; */
    /* width: calc(100% + 17.6px); */
    /* height: calc(100% + 17.6px); */
    /* background-color: #ffbd03; */
    /* z-index: 0; */
    /* border-radius: 5px; */
/* } */

.most-popular-badge .badge-arrow {
	
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    left: -44px;
    width: 40px;
    height: 40px;
}

.most-popular-badge .badge-arrow svg {
fill: #c91f3f;
}

/* Customize the label (the container) */
.custom-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  font-size: 25px;
  color: #eee;
  font-family: FontAwesome !important;
}


/* When the radio button is checked, add a blue background */

.custom-radio input:checked ~ .checkmark1 .fa-circle-o:before{
      content: "\f058";
    font-family: FontAwesome !important;
	font-size: 25px;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .checkmark1:after {
  display: block;
}

.shadow{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	}

.item-price div{
	display: inline-block;
    white-space: nowrap;
    padding: 0px;
    text-decoration: inherit;
}

.compare_at_price{
	position: relative;
    color: #677279;
	margin-left: 10px;
}


.compare_at_price::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -3px;
    width: calc(100% + 6px);
    height: 1px;
    background: rgba(103,114,121,0.7);
}

.icon--bi-phone {
    margin-right: 16px;
    width: 24px;
    height: 24px;
}

.contact-block,
.contact-block a{
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	line-height: 1.87;
	color: #fff !important;
}

.contact-block span {
 color:#fff !important
}

.mr-4, .mx-4 {
    margin-right: 1.5rem !important;
}



.py-2{
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}

.d-inline{
	display: inline-block !important;
}

.float-left{
	float:left !important;
}

.float-right{
	float:right !important;
}

.text-right{
	text-align: right !important;
}

.no-risk-block {
    color: #00953d;
    letter-spacing: 0.12em;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0 0 0;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
ul.secure-img {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px 5px 0 !important;
    font-size: 14px;
   flex-flow: wrap;
}

ul.secure-img li {
    display: flex;
    align-items: center;
    margin: 0px 10px 5px 10px;
    text-align: center;
    color: #000;
	font-family: "DIN Next",sans-serif;
}

.secure-img img {
    width: 30px;
    height: 30px;
}

.main-h5{
    opacity: 0.8;
    text-transform: uppercase;
	margin: 0 0 0.5em;
}


.s5-money {
    position: relative;
  background: #F7F9FC;
    padding: 5% 20px 8% 20px;
    margin-top: 10px;
    padding-top: 28px;
    padding-bottom: 48px;
}

.s5-money .money-text {
    max-width: 640px;
    margin: auto
}

.money-text h3 {
    font-size: 38px;
    font-weight: 400
}

.money-text h3 {
    color: #0a4f12
}

.capitalize {
color: #333333;
    font-size: 2.1em;
    font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.money-text-bottom {
    padding-top: 15px
}

.s5-money span.money-icon {
    padding-right: 20px
}

.s5-money .money-text-bottom p {
    color: #0a4f12;
    opacity: 0.8;
    line-height: 26px;
    font-weight: normal
}

.s5-money p {
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.6em
}

.s5-money .bottom-img {
    display: block;
    margin: 45px auto 0;
    max-width: 596px;
    text-align: center;
    width: 100%;
}

.questions-product.faq {
  position: relative;
       padding: 15px 0 15px;
}


.questions-product .accordion {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}

.questions-product .accordion .accordion-item {
    border-bottom: 1px solid #D4D6D9;
}

.questions-product .accordion .accordion-item .accordion-thumb {
    margin: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    padding: 15px 20px 15px 0;
}

.questions-product .accordion .accordion-item .accordion-thumb::after {
    content: '+';
    position: absolute;
    right: 0;
    font-size: 20px;
    transition: transform .2s ease-out;
    transform-origin: center center;
}

.questions-product .accordion .accordion-item .accordion-panel {
    margin: 0;
    padding-bottom: .8rem;
    display: none;
    font-size: 17px;
    line-height: 28px;
 
}

.questions-product .accordion .accordion-item.is-active .accordion-thumb::after {
    transform: rotate(-45deg);
}

.questions-product #accordion .panel-title a {
    display: block;
    padding: 20px 40px 20px 20px;
    font-size: 18px;
    background: transparent;
    border: none;
    position: relative;
    border-bottom: 1px solid #cccccc;
}

.questions-product #accordion .panel-title a:after,.questions-product #accordion .panel-title a.collapsed:after {
    content: "\002d";
    font-family: "FontAwesome";
    font-weight: 900;
    width: 40px;
    height: 40px;
    line-height: 32px;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 14px;
    right: 4px
}

.questions-product .panel-body p {
    opacity: 0.8
}

.questions-product .panel,
.questions-product .panel-body,
.questions-product .panel-default {
   border: none !important;
   box-shadow: none !important;
}

.questions-product .panel-default > .panel-heading{
background: transparent;
border: none !important;
}

.questions-product #accordion .panel-title a.collapsed:after {
    content: "\002b"
}


.details-heading{
font-size: 30px;
font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
	}

.benefits-block{
	padding: 50px 0;
	margin-top: 60px;
}

.benefits-block .items {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}


.benefits-block .item p {
    min-height: 57px;
    padding-left: 5px;
    padding-right: 5px;
}

.benefits-block .items .item {
    flex: 1 0 20%;
    text-align: center;
	align-self: flex-start;
}

.benefits-block .item img {
    margin-bottom: 32px;
}

@media all and (max-width: 767px) {

h1{
	font-size: 22px !important;
}

#shopify-section-fixed_benefits .benefits-block .item p{
font-size: 16px;
}

.benefits-block{
padding: 17px 0;
margin-top: 20px;
}

    .benefits-block  .items .item {
        flex:1 0 50%;
	   margin-bottom: 5px;
    }
	
	  .benefits-block  .item img {
        margin-bottom: 5px;
		width: 110px;
		height: 110px;
    }
	
	.benefits-block .item p {
    min-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

}

@media all and (max-width: 590px) {
    .benefits-block  .items .item {
        flex:1 0 100%
    }
}





.product-meta__share-buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.social-media__item-list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}
.list--unstyled {
    list-style: none;
}
.social-media__item {
    display: inline-block;
    margin: 3px;
        margin-right: 5px;
    margin-right: 0;
}
.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    background: none;
    pointer-events: none;
    overflow: visible;
}
.social-media__item svg {
    width: 28px;
    height: 28px;
    opacity: 0.4;
    transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
    will-change: opacity;
}

.text--strong{
color: #333333;
font-weight: 600;
line-height: 1.87;
}
.product-meta__share-buttons .social-media__item svg {
    opacity: 1;
}

.block-swatch {
    display: inline-block;
    margin: 4px;
}
.block-swatch--most-popular {
  min-width: 78%;
}
.block-swatch--most-popular label.block-swatch__item {
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.block-swatch__radio {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}

.block-swatch__item {
    display: block;
    padding: 6px 10px 7px 10px;
    text-align: center;
    border: 1px solid #d4d6d8;
        border-top-color: rgb(212, 214, 216);
        border-right-color: rgb(212, 214, 216);
        border-bottom-color: rgb(212, 214, 216);
        border-left-color: rgb(212, 214, 216);
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
	font-weight: 600;
  font-size: 13.5px;
  box-shadow: 0 1px 1px rgba(212,214,216,0.25);

}
.block-swatch__radio:checked + .block-swatch__item {
    box-shadow: 0 0 0 1px #00953d;
    border-color: #00953d;
    background: rgba(0,186,219,0.06);
    color: #00953d;
}
.block-swatch__item {
    text-align: center;
    cursor: pointer;
}
.block-swatch__item span{
color: #333333;
}
.block-swatch__radio:checked + .block-swatch__item,
.block-swatch__radio:checked + .block-swatch__item span
 {
    color: #00953d;
}

.flickerBlue {
  color: #ffbe58;
  animation: flickerBg 0.9s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes flickerBg {
  from {color: #dfa343;}
  to {color: #9f4a00;}
}

.text-upper{
text-transform: uppercase;
}

.product-form__info-list {
    /* display: table; */
    width: 100%;
	margin: -12px 0 0px 0;
	border-spacing: 0 12px;
}

.product-form__info-item {
    display: table-row;
}

.product-form__info-content {
    display: table-cell;
    width: 100%;
}
.price-list {
    line-height: 1;
}

.price--highlight {
    margin-right: 0.7em;
    color: #e00;
}
.price {
    font-size: 22px;
}

.product-form__payment-container {
    display: flex;
    flex-direction: column;
}

.product-form__info-title {
    display: table-cell;
    padding-right: 12px;
    vertical-align: baseline;
    white-space: nowrap;
}

.price--compare {
    position: relative;
    color: #677279;
    font-size: 17px;
}
.price--compare {
    top: -2px;
}

.product-gallery {
 position:relative;
 margin-bottom:12px
}
.product-gallery__carousel-wrapper {
 position:relative;
 margin-bottom:25px
}
.product-gallery__carousel .flickity-viewport {
 transition:height 0.2s ease-in-out
}
.product-gallery__carousel:not(.slick-initialized) .product-gallery__carousel-item:not(.is-selected) {
 display:none
}
.product-gallery__carousel-item {
 width:100%;
 padding:0 20px
}
.product-gallery__carousel-item--hidden {
 visibility:hidden
}

.social-media__item a {
color:#fe993f;
}

.social-media__item span {
color:#333333;
	font-weight: 600;
}

.social-media__item:hover svg {
  opacity:1
 }
 .social-media__item--facebook:hover svg {
  color:#3b5998
 }
 .social-media__item--twitter:hover svg {
  color:#1da1f2
 }
 .social-media__item--pinterest:hover svg {
  color:#bd081c
 }
 .social-media__item--instagram:hover svg {
  color:#d83776
 }

.product-gallery__carousel-item[aria-hidden="true"] .plyr__control {
 visibility:hidden
}
.product-gallery__carousel-item.is-filtered {
 display:none
}
.product-gallery__size-limiter {
 margin:0 auto
}

.custom-shadow{
  	box-shadow: 0 20px 30px 0 rgba(31,31,92,0.12);
    border-radius: 14px;
}

.icon-product {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    background: none;
    pointer-events: none;
    overflow: visible;
}

.product-gallery__view-in-space {
 background:rgba(103,114,121,0.08);
 border-top-left-radius:0;
 border-top-right-radius:0
}
.product-gallery__view-in-space[data-shopify-xr-hidden] {
 visibility:hidden
}
@media screen and (min-width: 1000px) {
 .product-gallery__view-in-space[data-shopify-xr-hidden] {
  display:none
 }
}
.product-gallery__view-in-space svg {
 margin:-1px 8px 0 0;
 width:16px;
 height:16px;
 vertical-align:middle
}
.product-gallery__zoom-notice {
 display:none
}
@media screen and (max-width: 640px) {
 .product-gallery__carousel {
  margin-left:-20px;
  margin-right:-20px
 }

.block-swatch--most-popular .block-swatch__item-text {
  max-width: 280px;
  font-size: 15px;
}

}
@media screen and (max-width: 640px) {
    .hidden-phone {
        display:none !important;
    }
}
	

@media screen and (min-width: 641px) {
 .hidden-tablet-and-up {
  display:none !important;
 }
  .product-form__payment-container {
  flex-direction:row;
  align-items:flex-start;
  margin: 0 5px 0 -9px;
 }
 
 .product-form__payment-container > * {
    flex: none;
    width: calc(50% - 18px);
    margin: 0 9px;
}

 }
@media screen and (min-width: 1000px) {
 .product-gallery__carousel {
  margin:-4px
 }
 .product-gallery__carousel-item {
  padding:4px
 }
 .product-gallery--with-thumbnails {
  display:flex;
  flex-direction:row-reverse;
  align-items:flex-start;
  width:100%
 }
 .product-gallery--with-thumbnails .product-gallery__carousel-wrapper {
  flex:1 0 auto;
  margin:10px 5px 0 5px
 }
}


 
@media screen and (min-width: 1000px) and (-moz-touch-enabled: 0), screen and (min-width: 1000px) and (hover: hover) {
 .product-gallery__carousel--zoomable ~ .product-gallery__zoom-notice {
  display:block;
  margin:26px 0 6px 0;
  width:100%;
  text-align:center;
  font-size:15px
 }
 .product-gallery__carousel--zoomable ~ .product-gallery__zoom-notice svg {
  width:10px;
  height:10px;
  margin-right:14px;
  vertical-align:baseline
 }
}
@media screen and (min-width: 1000px) {
 .product-gallery {
  margin-bottom:0
 }
}
.product-gallery__thumbnail {
 position:relative;
 display:block;
 width:60px;
 padding:2px;
 margin:0 4px;
 border:2px solid transparent;
 border-radius:3px;
 transition:border 0.2s ease-in-out;
 cursor:pointer
}
.product-gallery__thumbnail.is-nav-selected {
 border-color:#00953d;
}
.product-gallery__thumbnail.is-filtered {
 display:none
}
.product-gallery__thumbnail-badge {
 position:absolute;
 top:3px;
 right:3px;
 width:20px;
 height:20px;
 z-index:1
}
@media screen and (max-width: 999px) {
 .product-gallery__thumbnail-list::after,
 .product-gallery__thumbnail-list::before {
  content:'';
  display:inline-block;
  vertical-align:middle;
 /* width:16px*/
 }
 .product-gallery__thumbnail {
  display:inline-block;
  vertical-align:top
 }
}
@media screen and (min-width: 641px) and (max-width: 999px) {
 .product-gallery .scroller {
  margin:0 -15px
 }
}
@media screen and (min-width: 641px) {
 .product-gallery__thumbnail {
  width:72px
 }
}
@media screen and (min-width: 1000px) {

 .product-gallery__thumbnail-list {
  position:relative;
  z-index:1;
  margin:-2px 0 -2px -3px;
  max-height:450px;
  width:96px;
  overflow:auto;
  -ms-overflow-style:none;
  scrollbar-width:none;
  -ms-scroll-chaining:none;
  overscroll-behavior:contain
 }
 
 .product-gallery__thumbnail-list::-webkit-scrollbar {
  -webkit-appearance:none
 }
 
 .product-gallery__thumbnail {
  margin:8px 4px
 }
 
}

@media only screen and (max-width: 798px){
.money-text h3 {
    max-width: 260px;
    position: relative;
    right: 0;
    margin: auto !important;
    padding-left: 40px;
    font-size: 24px;
}
}

@media screen and (max-width: 576px){
	
	.mpx-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.mmx-0{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	


.secure-img img {
    width: 24px;
    height: 24px;

}

ul.secure-img li {
    margin: 0px 4px 5px 4px;
	min-width: 46%;
}

}

html{
padding-bottom: 0 !important;
}

.stamped-pagination a{
  color: #000;
}

.stamped-pagination .active a{
  color: #f5b73b;
}

#recentBox{
  position: fixed;
  background: #fff;
    transition: all 1000ms cubic-bezier(0.25, 0.75, 0.45, 1);
    bottom: -62px;
    left: 12px;
    width: 350px;
    min-height: 50px;
    border-radius: 50px;
    opacity: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 15px 30px rgba(50, 50, 50, 0.3);
    padding: 7px;
    z-index: 1000;
}

#recentImg img{
 margin-left: 8.8px;
    max-height: 35.2px;
    transition: opacity 500ms cubic-bezier(0.25, 0.75, 0.45, 1);
    width: auto;
  
}
    
#recentText{

      margin-left: 12px;
    font-size: 11px;
	line-height: 160%;
}
#stickyTop{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  display: none;
  z-index: 400;
  box-shadow: 0px 3px 5px #777;
  background: #fff;
  padding: 10px 0px;
}
#stickyInner{
  width: 900px;
  height: auto;
  margin: 0 auto;
}
#stickyImg{
  width: 65px;
  height: 65px;
  float: left;
}
#stickyText{
  width: 400px;
  height: auto;
  float: left;
  margin-left: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #666;
  font-size: 15px;
  font-weight: 400;
  padding-top: 7px;
}
#stickyButton{
  width: 300px;
  height: auto;
  background: #227da9;
  border-radius: 5px;
  border: 1px solid #156b94;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 12px;
  cursor: pointer;
  float: right;
  margin-top: 4px;
}
#stickyButton:hover{
  background: #156b94;
  border: 1px solid #095980;
}
#stickyArrow{
  width: 65px;
  height: 65px;
  float: right;
  margin-right: 15px;
}
#stickyBottom{
  display: none;
}



@media screen and (max-width: 900px) {
  #stickyTop{
    display: none !important;
  }
  #stickyBottom{
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    z-index: 400;
    box-shadow: 0px -2px 3px #666;
    background: #fff;
    padding: 7px 0px;
  }
  #stickyImgm{
    width: 45px;
    height: 45px;
    float: right;
    margin-right: 3%;
  }
  #stickyTextm{
    width: calc(94% - 60px);
    height: auto;
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    margin-left: 3%;
    text-align: left;
    padding-top: 2px;
  }
  #stickyButtonm{
    width: 94%;
    height: auto;
    margin: 0 auto;
    margin-top: 5px;
    background: #227da9;
    border-radius: 5px;
    border: 1px solid #156b94;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 7px 0px;
    cursor: pointer;
  }
}


#reamaze-widget{
box-shadow: 0 3px 15px 0 rgba(0,0,0,0.25) !important;
border-radius: 8px 8px 0 0 !important;
bottom: -5px !important;

  @media screen and (max-width: 767px) {
    right: 10px !important;
  }
}

@media screen and (min-width: 768px) {
#reamaze-widget #reamaze-widget-icon {
    width: 210px !important;
}

#reamaze-widget #reamaze-widget-icon::after {
	content: "Customer Service";
    color: #fff;
    font-size: 1.2em !important;
    line-height: 58px !important;
    font-weight: bold !important;
    position: absolute;
}
}

.black-friday{
	min-width: 310px;
    max-width: 360px;
	text-align: center;
	background: black;
    border-radius: 10px;
    box-shadow: 0 20px 30px 0 rgba(31,31,92,.42);
	margin: 0 auto;
	padding: 15px 0 5px 0;
}

.black-friday .text-block{
    padding: 0px 10px;
    float: left;
    width: auto;
    border: none;
    display: block;
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.7px;
    outline: 0;
}

.black-friday .black{
    color: #fff;
	transform: rotate(1deg);
	border: 2px solid #fff;
}

.black-friday .friday{
    color: #000;
	transform: rotate(4deg);
	background-color: #fff;
	border: 1px solid #fff;
	z-index: 10;
	margin-top: 2px;
    margin-left: -7px;
}

.black-friday .savings{
    color: #fff;
	transform: rotate(-2deg);
	background-color: #D2384F;
	    border: 1px solid #D2384F;
	z-index: 11;
    margin-left: -4px;
}

.bsale-price{
	color: #D2384F;
}

.block-friday{
    display: inline-block;
	margin-bottom: 3px;
}

.below-friday{
	color: #fff;
	
    font-weight: bold;
	letter-spacing: 1px;
	margin: 0 auto;
    margin-top: -5px;
	width: 51%;
}
.below-friday,
.below-friday span	{
   font-size: 18px;
}

.friday-wrapper{
	width:100%;
}

.top-bar-friday .below-friday{
width: auto;
display: inline;
padding-left: 10px;
}

.top-bar-friday .block-friday{
margin-bottom: -9px;
}

.top-bar-friday .black-friday{
    max-width: 100%;
    box-shadow: none;
	border-radius: 0;
	padding: 11px 0 16px 0;
}

.blink {
	animation: blinker 2.8s ease-in-out infinite;
  }
  
 #MainContent{
 outline: none !important;
 }
 
 .support-pages p{
 font-size: 17px;
 font-weight: 400;
 }
 
.support-pages ol,
.support-pages ul {

    padding-left: 40px;
}

.support-pages ol li,
.support-pages ul li {
 font-size: 17px;
 font-weight: 400;
    list-style: disc;
}

@keyframes blinker {
50% {
  opacity: 0;
}
}

.slick-slide img {
    margin: 0 auto;
}

.desktop-view-only{
		 display: block;
	}
.mobile-view-only{
    display: none;
}

@media only screen and (max-width: 768px) {
   .desktop-view-only{
		display: none; 
	}
	.mobile-view-only{
		display: block;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 374px) {
    .below-friday,
	.below-friday span	{
        font-size: 16px;
    }
	
	.black-friday{
	    min-width: 290px;
}
    .black-friday .text-block {
        font-size: 18px;
		padding: 0 5px;
    }
}

.empty-page-content {
  padding-top: 125px;
}

/* Mobile Cart button sticky */
.sticky-cart-button-mobile{
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  margin: 10px 0 0px;
  @media only screen and (max-width: 991px){
    display: block;
  }
}

// Homepage

body.template-page-dishwasher #shopify-section-fixed_variants_selector {
  .product-form__option .block-swatch-list {
    .block-swatch:nth-child(3) {
      // width: 100%;
    }
    .block-swatch--most-popular > label, .block-swatch--most-popular > label * {
      color: #ffbe58;
      animation: flickerBg 0.9s infinite;
      animation-timing-function: ease-in-out;
    }
  }
}