<!-- /templates/page.liquid -->
{%- layout 'theme.dishwasher' -%}

 
 {% section 'fixed_landing_dishwasher' %}
 
 {% section 'fixed_header_block' %}
 {% section 'fixed_product_home_collection' %}
 {% section 'fixed_badges' %}
 {% section 'fixed_home_two_products' %}
 {% section 'fixed_home_beauty' %}

 

