<!-- /templates/page.liquid -->
 

ddd
{% section 'fixed_landing_dishwasher' %}

{% section 'fixed_variants_selector' %}
{% section 'fixed_benefits' %}

{% section 'fixed_product_info' %}
{% section 'fixed_review_bg' %}
{% section 'fixed_line_info' %}
{% section 'fixed_questions' %}
{% section 'fixed_guarantee-block' %}
{% section 'product-reviews' %}

{% include 'cart-btn-mobile-sticky' %}
