{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% if product.id == 4430714601585 %}
		<!-- /templates/page.liquid -->
   <script>
  
     
       !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1290018538018083');
	fbq('track', 'PageView');
	fbq('track', 'ViewContent');
	
    function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(";");
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == " ") c = c.substring(1);
			if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
		}
		return "";
	}
	function getParameterByName(name, url = window.location.href) {
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
			results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return "";
		return decodeURIComponent(results[2].replace(/\+/g, " "));
	}

	$(window).on("load", function () {
		var count = 0;
		var fbp = null;
		var fbc = null;

		function Init() {
			count++;
			fbp = getCookie("_fbp");
			fbc = getParameterByName("fbclid");
			var event_id = 'ATC_' + new Date().getTime();
			var d = parseInt(new Date().getTime() / 1000);
			var dateObject = '{ "data": [{' + '"event_name": "ViewContent",' + '"event_id": "' + event_id + '",' + '"event_time":' + d + "," + ' "user_data": {';

			if (((fbp != null && fbp.length > 0) || (fbc != null && fbc.length > 0)) && userIp != null && count > 7) {
				if (fbc != null && fbc.length > 0) {
					dateObject += '"fbc":"' + fbc + '",';
				}

				if (fbp != null && fbp.length > 0) {
					dateObject += '"fbp":"' + fbp + '",';
				}

				dateObject += '"client_ip_address":"' + userIp + '",' + '"client_user_agent":"' + navigator.userAgent + '"},' + '"event_source_url":"' + window.location.href + '"}]}';

				$.ajax({
					type: "POST",
					url:
						"https://graph.facebook.com/v9.0/1290018538018083/events?access_token=EAADGoT0PZAlcBAKZCRNlQfejcHx7maP7Sk3I7XSp4wiEVrmdOJvGU7qMQNORrh8eRFCTZAXVz1qNhRB5oCAK32ZAsREm8fbmhJ6oRFFCvDBGgZBRkzArqOE8FNMExTpUvCzYNZAQpp0SMHhA1FbdbkdeZCQBy7EakmpeHJ7DA6jVT559zh4V7FR",
					data: JSON.parse(dateObject),
					dataType: "json",
				});
			} else {
				if (count < 20)
					setTimeout(function () {
						Init();
					}, 200);
			}
		}
		Init();
	});
    
</script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1290018538018083&ev=PageView&noscript=1" />
</noscript>


 {% section 'fixed_landing_dishwasher' %}
 
  {% section 'fixed_variants_selector' %}
{% section 'fixed_benefits' %}

 {% section 'fixed_product_info' %}
 {% section 'fixed_review_bg' %}
 {% section 'fixed_line_info' %}
 {% section 'fixed_questions' %}
  {% section 'fixed_guarantee-block' %}
{% section 'product-reviews' %}
		
	 {% else %}
		 {% section 'fixed_variants_selector_single_product' %}
	{% endif %}
	
 

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {%- if product.featured_image -%}
    {%- assign image_size = product.featured_image.width | append: 'x' -%}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {%- endif -%}
  "description": "{{ product.description | strip_html | escape }}",
  {%- if current_variant.sku != blank -%}
    "sku": "{{ current_variant.sku }}",
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": "{{ variant.sku }}",
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : "{{ variant.price | divided_by: 100.00 }}",
        "priceCurrency" : "{{ cart.currency.iso_code }}",
        "url" : "{{ shop.url }}{{ variant.url }}"
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
{% capture simple_product_page %}
	{% section 'fixed_benefits' %}

	{% section 'fixed_product_info' %}
	{% section 'fixed_review_bg' %}
	{% section 'fixed_line_info' %}
	{% section 'fixed_questions' %}
	{% section 'fixed_guarantee-block' %}
	{% section 'product-reviews' %}
{% endcapture %}
{% if product.id == 6659517087857 or product.id == 6659682926705 %}
	{{simple_product_page}}
{% endif %}